-- hello plugin --
{% for article in articles %}
    <article class="tile white story">
    <a href="{{ article.get_absolute_url }}">
        <div class="story-wrap">
            {% if article.picture.url %}
                <figure class="thumb" style="max-width:200px;">
                    <div class="img-wrap"><img src="{{ article.picture.url }}" style="max-height:150px;max-width: 200px"/></div>
                </figure>
            {% endif %}
            <div class="story-text">
                <span class="pub-date">{{ article.date }}</span>
                <h3>{{ article.title }}</h3>
                <p>{{ article.subheading }}</p>
            </div>
        </div>
    </a>
    </article>
{% empty %}
    <p class="well">"No items available"</p>
{% endfor %}


<a class="see-all" id="features" href="/news/">All Features<span></span></a>

