{% extends "events_html5_bootstrap.html" %}
{% load cms_tags sekizai_tags menu_tags staticfiles %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static 'iptc/imgs/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'iptc/imgs/favicon.ico' %}" type="image/x-icon">
{% endblock favicon %}

    {% block google_scripts %}
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM- N64VZH"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endblock %}

    {% block web_fonts %}
        {% with googlecategory="Events" %}
            {% include 'include_scripts_variable.html' %}
        {% endwith %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200, 300,400,400i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
    {% endblock web_fonts %}

    {% block css_base %}
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'iptc/css/mainstyle.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'animate/carouselticker/carouselTicker.css' %}" media="screen">

        <script src="{% static 'animate/carouselticker/jquery.carouselTicker.js' %}" type="text/javascript"></script>

    {% endblock css_base %}

    {# Add the page wrapper beginning here #}
    {% block wrap_begin %}
        <div class="container-fluid">
    {% endblock wrap_begin %}

    {# adding block content_header to base cms template for overriding #}
    {% block content_header %}


{#        <div class="global-nav row"><!--  navbar-fixed-top -->#}
{#            <nav id="global-nav" class="col-sm-10 col-sm-offset-1">#}
{#                <ul>#}
{#                    <li><a href="https://www.spe.org/en/">SPE</a></li>#}
{#                    <li><a href="http://www.spe.org/about/">About</a></li>#}
{#                    <li><a href="http://www.spe.org/contact/">Contact Us</a></li>#}
{#                    <li style="float: right;"><a href="{{ login.url }}" id="global_login" class="loginLink"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ login.label }}</a></li>#}
{#                </ul>#}
{#            </nav>#}
{#        </div>#}

        <div class="row logobar">
            <div class="col-md-2 col-md-offset-1 visible-md visible-lg mainLogo text-left"><img src="{% static 'iptc/imgs/iptc_whitetxt.svg' %}" class="mainLogoImg img-responsive"/></div>
            <div class="col-xs-5 col-sm-4 col-xs-offset-1 visible-xs visible-sm mainLogo text-center"><img src="{% static 'iptc/imgs/iptc_whitetxt.svg' %}" class="mainLogoImg img-responsive" style="margin:auto;" /></div>
        </div>
        <div class="row menubar">
            <div class="col-md-10 col-md-offset-1">{% placeholder "Menu" %}</div>
        </div>
    {% endblock content_header %}

    {# adding block content_footer to base cms template for overriding #}
    {% block content_footer %}
        <div class="row footerbar">
            <div class="col-xs-4 col-xs-offset-4 col-sm-5 col-sm-offset-1 col-md-3 text-center footerlogo">
                <img src="{% static 'iptc/imgs/iptc_whitetxt.svg' %}" class="mainLogoImg img-responsive"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 footerSocials text-center">
                <a href="https://www.facebook.com/iptcnet.org" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/company/iptc---international-petroleum-technology-conference" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="https://twitter.com/iptc_net_org" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-12 col-md-3 text-center footertext">
                <p>Email us for more information:<br><a href="mailto:iptc@iptcnet.org">iptc@iptcnet.org</a></p>
                <p><a href="/en/iptcnet/privacy-policy/">Privacy Policy</a></p>
            </div>
        </div>
        <div class="row copyrightbar">
            <div class="col-md-10 col-md-offset-1 text-center">
                <span class="footertext">Copyright &copy; 2017, Society of Petroleum Engineers. All rights reserved.</span>
            </div>
        </div>
    {% endblock content_footer %}

    {# Add the page wrapper beginning here #}
    {% block wrap_end %}
        </div><!-- end Container -->
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                $('.carouselTicker').carouselTicker();
            });
        </script>
    {% endblock wrap_end %}