/**
 * Project: SPE.org Homepage
 * Author: JD Toony
 * Date: 2/28/16
 * Time: 12:38 9M
 * Copyright 2016 Society of Petroleum Engineers, all rights reserved
 * style="display:block;z-index:9950;"
 */
@import 'vars';

.row {
    margin-right:0;
    margin-left:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $col-pagegrey;
}
.redText {
    color:$col-red;
}

/* ************************ */
// GLOBAL
@import 'yamm';
@import 'speheader';
@import 'spefooter';
@import 'specontent';

/* *************************************** */
/* *************************************** */

.navbar-collapse {
    padding-left:0;
}
.pinkBorder {
    border:1px solid pink;
}

//.sizeIndicator {
//    position: fixed;
//    bottom:20px;
//    right:20px;
//    font-size:30px;
//    font-weight:700;
//    color:hotpink;
//}