/** Project: SPE.org Homepage Author: JD Toony Date: 2/28/16 Time: 12:38 9M Copyright 2016 Society of Petroeum Engineers, all rights reserved style="display:block;z-index:9950;" */
/* Base colors */
/* greys */
/* blues */
/* Images */
.row { margin-right: 0; margin-left: 0; }

body { font-family: 'Open Sans', sans-serif; background-color: #f1f2f7; }

.redText { color: red; }

/* ************************ */
/* *************************************** */
/* *************************************** */
/* Yamm!3 Y.et A.nother M.ega M.enu for Bootstrap http://geedmo.github.com/yamm3  SPE Menu styles */
/* Base colors */
/* greys */
/* blues */
/* Images */
/* PRIMARY NAV BEGIN */
@media (min-width: 767px) { .thumbnail { margin: 0; } }
.navbar { min-height: 54px; border-top: 1px solid #365d98; background-color: #26416c; margin: 0; border-radius: 0; }
.navbar ul { margin: 0; padding: 0; list-style: none; }

.navbar-default { border: none; }

.megarow { padding: 40px 30px 30px 30px; }
.megarow .nav-col { border-right: 1px solid #e7e7e7; min-height: 220px; }
.megarow .nav-col ul { margin: 0 0 25px; padding: 0; list-style: none; }
.megarow .nav-col ul li { line-height: 16px; margin: 0 0 6px 0; font-size: 14px; }
.megarow .nav-col ul li a { font-weight: 400; font-size: 14px; color: #37373a; display: block; text-decoration: none; margin-bottom: 0; }
.megarow .nav-col ul li a:hover { color: #105cd0; }
.megarow .nav-col ul .heading { line-height: 18px; font-size: 15px; letter-spacing: -0.02em; text-transform: uppercase; font-weight: 600; color: #0C090A; margin-bottom: 12px; }
.megarow .nav-col ul .more { font-weight: 600; }
.megarow .nav-col a { margin-bottom: 1.5em; display: block; text-decoration: none; }
.megarow .nav-col a .link-title { display: inline-block; padding-top: 6px; font-size: 15px; line-height: 1; font-weight: 700; color: #0C090A; letter-spacing: -0.02em; }
.megarow .nav-col a .link-title:hover { color: #105cd0; }
.megarow .navcolborder { border-bottom: 1px solid #e7e7e7; margin-bottom: 20px; }
.megarow .last { border: none; }
.megarow .see-all { margin-top: 25px; text-align: center; background-color: #e7e7e7; color: #646e93; border-radius: 3px; font-weight: 700; font-size: 16px; }
.megarow .see-all:hover { background-color: #365d98; }
.megarow .see-all a { line-height: 34px; letter-spacing: -0.02em; }
.megarow .see-all a:hover { color: white; }

.navbar-default .navbar-nav > li { text-align: left; }

.navbar-default .navbar-nav > li > a { min-height: 53px; color: white; font-weight: 600; font-size: 18px; }
.navbar-default .navbar-nav > li > a:hover { color: #26416c; background-color: #e7e7e7; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { color: #26416c; background-color: #e7e7e7; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown { position: static; }
.yamm ul.nav li.dropdown:hover > ul.dropdown-menu { display: block; }
.yamm .container { position: relative; width: auto; max-width: 1170px; min-height: 54px; }
.yamm .navbar-collapse, .yamm .nav { min-height: 54px; }
.yamm .dropdown-menu { left: auto; background-color: white; }
.yamm .yamm-content { padding: 20px 30px; }
.yamm .dropdown.yamm-fw .dropdown-menu { left: 0; right: 0; }

.navbar-nav .open .dropdown-menu { background-color: white; }

/* YAMM MENU END */
/* *************************************** */
/* *************************************** */
/* *************************************** */
/* *************************************** */
/** SPE HEADER INCLUDE */
/* Base colors */
/* greys */
/* blues */
/* Images */
#spe-header { border-bottom: 4px solid #e0e4eb; }

#logo, #global-nav li a.loginLink span, #search .GoogleSiteSearch #gssSubmitButton, .link-icon, #social-media-links li a, #mobile-nav .clickToggle span { background: url("/static/img/spe/header-sprite1.2.png") no-repeat; }

.link-text { width: 80%; float: right; }

.link-icon { float: left; width: 17%; margin-right: 3px; }
.link-icon.events-calendar { background-position: 0 -57px; height: 30px; }
.link-icon.training-courses { background-position: 0 -87px; height: 30px; }
.link-icon.web-events { background-position: 0 -117px; height: 15px; }
.link-icon.distinguished-lect { background-position: 0 -132px; height: 30px; }
.link-icon.jpt { background-position: 0 -167px; height: 18px; }
.link-icon.ogf { background-position: 0 -185px; height: 26px; }
.link-icon.peer { background-position: 0 -211px; height: 33px; }
.link-icon.hse { background-position: 0 -244px; height: 35px; }
.link-icon.calendar { background-position: 0 -279px; height: 33px; }
.link-icon.onepetro { background-position: 0 -312px; height: 24px; }
.link-icon.petrowiki { background-position: 0 -336px; height: 35px; }
.link-icon.energy4me { background-position: 0 -371px; height: 47px; }
.link-icon.connect { background-position: 0 -418px; height: 30px; }

.link-summary { font-size: 13px; color: #868686; clear: left; }

.publist a { height: 50px; }

.pubs { padding-top: 0 !important; }

/* GLOBAL NAV */
.global-nav { min-height: 31px; border-bottom: 1px solid #0C090A; background-color: #1c1d22; margin: 0; }
.global-nav ul { margin: 0; padding: 0 0 0 15px; list-style: none; }
.global-nav ul li { float: left; white-space: nowrap; margin: 0; line-height: 18px; }
.global-nav ul li a { display: block; text-decoration: none; font-size: 12px; font-weight: 700; line-height: 30px; color: #9c9fac; padding: 0 14px; margin: 0 8px 0 0; }
.global-nav ul li a:hover { color: white; background-color: #0C090A; }
.global-nav ul li:first-child a { margin-left: -14px; }

#translate-widget { float: right; }

.goog-te-gadget-simple { background-color: transparent !important; border: none !important; padding: 4px 12px !important; }

.goog-te-gadget, .goog-te-gadget-simple .goog-te-menu-value { color: #9c9fac !important; font-size: 11px !important; font-weight: 700 !important; }

.goog-te-menu-value:hover { text-decoration: none; }

/* END GLOBAL NAV */
/* *************************************** */
/* LOGO + SEARCH (White Bar) */
/* *************************************** */
#branding { height: 100px; background-color: white; }

.spe-logo { display: block; margin: 21px 0 0 10px; }

#logo { text-indent: -9999px; background-position: 0 0; height: 57px; width: 413px; }

/* Search */
#search { float: right; margin: 33px 0 0 0; }

#search select { display: none; }

/* Not displaying select box in header search. Is displayed on SRP. */
#search .searchForm { width: 235px; height: 32px; margin: 0; border-radius: 5px; height: 32px; background-color: #e0e4eb; }

#search .GoogleSiteSearch #gssTextInput { float: left; font-size: 14px; border: none; -webkit-appearance: none; background: none; width: 197px; margin: 7px 0 0 0; height: 20px; outline: none; }

#search .GoogleSiteSearch #gssSubmitButton { float: left; width: 19px; height: 17px; background-position: 0 -812px; border: none; padding: 0; margin: 7px 0 0 10px; }

#search ::-webkit-input-placeholder { color: #e0e4eb; }

#search :-moz-placeholder { color: #e0e4eb; }

#search ::-moz-placeholder { color: #e0e4eb; }

#search :-ms-input-placeholder { color: #e0e4eb; }

/* *************************************** */
/* *************************************** */
/* =================================================================== */
/* FOOTER
====================================================================== */
/* Base colors */
/* greys */
/* blues */
/* Images */
#spe-footer { background-color: #25282d; padding: 25px 0; width: 100%; }
#spe-footer ul, #spe-footer li { margin: 0; padding: 0; }
#spe-footer li { white-space: nowrap; display: inline-block; }
#spe-footer li a { text-decoration: none; display: block; font-weight: 600; color: #9c9fac; -webkit-transition: color 0.3s ease-in-out; -moz-transition: color 0.3s ease-in-out; -o-transition: color 0.3s ease-in-out; transition: color 0.3s ease-in-out; }
#spe-footer li a:hover { color: white; -webkit-transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }

.footleft, .footright { text-align: center; }

#text-links li, #text-links #legal-links li, #legal-links li, #legal-links #legal-links li { margin: 0 2em 0 0; }

#text-links li { text-transform: uppercase; font-size: 17px; line-height: 1.5em; }

#legal-links { margin: .5em 0 0 0; }

.copyright, #legal-links li { font-size: 14px; }

.copyright { float: left; width: 100%; margin: 28px 0 0 0; clear: both; border-top: 1px solid #3d4044; padding-top: 4px; color: #57575a; }

#social-media-links li a { margin: 0 1em 0 0; width: 50px; height: 50px; float: left; }
#social-media-links li a.last { margin-right: 0; }
#social-media-links #facebook { background-position: 0 -448px; }
#social-media-links #facebook:hover { background-position: -50px -448px; }
#social-media-links #twitter { background-position: 0 -498px; }
#social-media-links #twitter:hover { background-position: -50px -498px; }
#social-media-links #linkedin { background-position: 0 -548px; }
#social-media-links #linkedin:hover { background-position: -50px -548px; }
#social-media-links #youtube { background-position: 0 -598px; }
#social-media-links #youtube:hover { background-position: -50px -598px; }
#social-media-links #instagram { background-position: 0 -648px; }
#social-media-links #instagram:hover { background-position: -50px -648px; }
#social-media-links #connect { background-position: 0 -698px; }
#social-media-links #connect:hover { background-position: -50px -698px; }

.footspace { height: 20px; }

/* *************************************** */
/* *************************************** */
/* *************************************** */
/* *************************************** */
.navbar-collapse { padding-left: 0; }
