/* =================================================================== */
/* MAIN CONTENT STYLES FOR ATCE
====================================================================== */
@import 'vars';

.sponsorBar {
  background-color:       $col-grey-light;
}
.byTheNumbersBar {
  background-color:       $col-atce-green;

  .btNumIcon {
    font-size:            50px;
  }

  h3 {
    font-weight:            $font-light;
    margin-bottom:        20px;
  }

}