/* =================================================================== */
/* MAIN CONTENT STYLES FOR ATCE
====================================================================== */
@import 'vars';


/* =================================================================== */
/* PANELS */

.tiletitlerow {
  h2 {
    margin:               20px 0;
  }
}
.tiletitlehr {
  display:                none;
}
.tiletitles {
  text-align:             center;
}

.spacerRow {
  height: 30px;
}

.panel-intro {
  border:                 0;
  .panel-body {
    padding:              0;
  }
}
.panel-tabs {
  border:                 2px solid $col-grey-light;
  padding:                0;

  .panel-body {
    padding:              0;
  }

  .nav-tabs {
    background-color:       $col-grey-light;

    li {
      //width:                100%;
    }
  }
  .nav-tabs>li>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border:                 0;
    color:                  $col-black;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
    color:                  $col-spe-blue;
  }
  .tab-content {
    padding:                20px 10px 0 10px;
  }
}
.sponsorBar {
  //background-color:       $col-grey-light;
  padding:                20px 0;
  border-top: 2px solid $col-grey-light;
  border-bottom: 2px solid $col-grey-light;
}
.byTheNumbersBar {
  background-color:       $col-atce-green;

  .btNumIcon {
    font-size:            50px;
  }

  h3 {
    font-weight:          $font-light;
    margin-bottom:        20px;
  }
}

$jumboSliderHeight:       500px;
.jumboCarousel {
  .carousel-inner {

    .item {
      height:             $jumboSliderHeight;
    }

    .carousel-caption {
      background-image:   $img-back-black-70;
      width:              100%;
      bottom:             0;
      left:               0;
      padding-left:       10px;
      padding-right:      10px;
      padding-bottom:     50px;
    }
  }
}

.jumbotron {
  margin:                 0;
    @include border-radius(0);
}

.miniCarousel {
  .carousel-inner {

    .item {
      @include border-radius(5px);
    }
  }
}
.carousel-indicators {
  bottom:                 0;
}

#registercol {
  height:                 100px;
  padding:                25px 0;

  button {
    background:           $col-atce-green;
    color:                $col-white;
    padding:              10px 20px;
    border-collapse:      separate;
    border:               0 solid $col-atce-green;

    @include border-radius(5px);
    @include text-shadow(1px, 1px, 2px, rgba(0,0,0,.4));
  }
}

$itemboxpadding:  20px;
.itembox {
  padding:        $itemboxpadding;
  position:       relative;

  .panel, .innerbox {
    overflow:     hidden;
  }

  .innerpanel, .panel-body {
    position:     absolute;
    bottom:       $itemboxpadding;
    background:   $img-back-black-70 repeat center center / cover;
    //width:        100%;

    .panel-body {
      padding:      10px;
    }

    h2 {
      color:        $col-white;
      margin:       0;
      padding:      0;
    }
  }
}
.speakerRow {
  padding: 20px 0;
}
.speakerimage {
  width:                  100px;
  height:                 100px;
  -moz-border-radius:     50%;
  -webkit-border-radius:  50%;
  border-radius:          50%;
  border:                 3px solid $col-grey-light;
  margin:                 auto;
}
.speakertext {
  margin:                 auto;
}
.speakertitle {
  font-family:            $font-titles;
  font-size:              $h4size;
}

.sponsorCoveyor {
  padding:                20px 0;
}

.singleImage {
  @include border-radius(5px);
}

.byTheNumbersRow {
  padding:                20px 0;
}