/* =================================================================== */
/* VARIABLES
====================================================================== */

$col-white:             white;
$col-black:             black;
$col-atce-yellow:       #ed9e2a;
$col-atce-green:        #67c18d;
$col-atce-greenhover:   #74d79e;
$col-spe-blue:          #0c4c93;
$col-spe-blue-dark:     #1c407d;
$col-grey-dark:         #363636;
$col-grey:              grey;
$col-grey-light:        #e1e1e1;

$font-main:             'Montserrat', sans-serif;
$font-titles:           'Montserrat', sans-serif;
$font-titles2:          'Ubuntu', sans-serif;

$font-bold:             700;
$font-regular:          400;
$font-light:            300;
$font-extralight:       200;
//$font-thin:             100;

$h1size:                30px;
$h2size:                25px;
$h3size:                20px;
$h4size:                18px;
$h5size:                15px;
$h6size:                12px;
$psize:                 15px;

$dotted:                1px dotted $col-black;


