/* =================================================================== */
/* ATCE Stylesheet
====================================================================== */
/* =================================================================== */
/* VARIABLES
====================================================================== */
/* =================================================================== */
/* BASE HTML
====================================================================== */
/* =================================================================== */
/* VARIABLES
====================================================================== */
body { font-family: "proxima-nova", sans-serif; }

h1, h2, h3, h4 { font-family: "proxima-nova", sans-serif; font-weight: 700; }

h1 { font-size: 30px; }

h2 { font-size: 25px; }

h3 { font-size: 20px; }

h4 { font-size: 18px; }

p { font-size: 15px; }

* { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }

.row { margin: 0; }

.container-fluid { padding: 0; }

a:hover { text-decoration: none; }

/* =================================================================== */
/* ATCE HEADER & MENUS
====================================================================== */
/* =================================================================== */
/* VARIABLES
====================================================================== */
.topbar { background-color: black; color: white; height: 30px; font-size: 15px; padding: 3px 0 0 0; }

.logobar { height: 100px; }

.menubar { background-color: #67c18d; color: white; min-height: 60px; padding: 10px 0 0 0; }

/* =================================================================== */
/* MAIN CONTENT STYLES FOR ATCE
====================================================================== */
/* =================================================================== */
/* VARIABLES
====================================================================== */
/* =================================================================== */
/* FOOTER STYLES FOR ATCE
====================================================================== */
/* =================================================================== */
/* VARIABLES
====================================================================== */
.footerbar { height: 275px; background-color: #363636; }

.copyrightbar { height: 75px; background-color: #67c18d; padding: 25px 0 0 0; }
