/* =================================================================== */
/* CONTENT & BOXES
====================================================================== */
@import 'vars';

.content-area {
  margin-top:30px;
}
.section-heading {
  display: block;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: $col-speblue2;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
}

