/* =================================================================== */
/* TILES & BOXES
====================================================================== */
@import 'vars';

.tile, .tile-blue, .tile-white {
  box-shadow:           0 1px 2px $col-boxshadow;
  margin-bottom:        20px;
  padding:              15px;
  min-width:            150px;
}
.tile-blue {
  background-color:     $col-speblue;
  color:                $col-textblue;

  a {
    color:              $col-textblue;
    &:hover {
      color:            $col-white;
    }
  }
}
.whiteback, .tile-white {
    background-color:   $col-white;
  }

.link-box, .tile-links {
  border-top: 4px solid $col-speblue2;
  background-color:     $col-white;

  ul {
    margin:             0;
    list-style:         disc outside;
    padding:            0;

    & > :first-child {
      border-top:       1px solid $col-pagegrey;
      padding-top:      10px;
    }

    li {
      line-height:      18px;
      list-style-type:  none;
      padding:          0 0 10px 0;
      border-bottom:    1px solid $col-pagegrey;
      margin:           0 0 10px 0;
      letter-spacing:   .01rem;

      a {
        color:          $col-spegrey;

        &:visited {
        outline:        0;
        text-decoration: none;
      }
      }
    }
  }
}
.story {
  .story-wrap {

    .pub-date {
      color:$col-redtext;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    h3 {
      color: $col-speblack;
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 8px;
      margin-top:0;
      letter-spacing: -0.02em;
    }
    p {
      color:$col-copygrey;
    }
  }
}
.featured-story {
  padding:15px;
  min-height:300px;

  .story-wrap {
    min-height:300px;
    color:$col-white;
    background-size: cover;
    position: relative;

    .story-text {
      padding:15px;
      background: $img-back-black-50 repeat top left fixed;
      background-size:100%;
      position: absolute;
      bottom:0;

      h2 {
        font-weight:600;
      }
    }
  }
}





//// background: #000 url(image.gif) no-repeat top left fixed;
//.demoback {
//  background-image: url($img-);
//  background-repeat: no-repeat;
//  background-position: right top;
//  background-size: 100% 100%;
//  margin-right: 200px;
//}
//.demoback2 {
//  background: url("img_tree.png") no-repeat right top;
//  background-size: 100% 100%;
//  margin-right: 200px;
//}