/* Base colors */
$col-white:       white;
$col-red:         red;

/* greys */
$col-darkgrey:    #37373a;
$col-sprlghtgry:  #e7e7e7;
$col-lightgrey:   #e0e4eb;
$col-pagegrey:    #f1f2f7;
$col-boxshadow:   #b4b4b9;
$col-steelgrey:   #9c9fac;
$col-medgrey:     #868686;
$col-spegrey:     #57575a;
$col-copygrey:    #3d4044;
$col-footgrey:    #25282d;
$col-speblack:    #0C090A;

/* blues */
$col-oldspeblue:  #336699;
$col-textblue:    #a3bce4;
$col-speblue:     #26416c;
$col-bluegrey:    #646e93;
$col-speblue2:    #365d98;
$col-suprdrkblue: #1c1d22;
$col-hoverblue:   #105cd0;

/* Images */
$img-logosprite: '/static/speorg/img/header-sprite1.2.png';
