<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['timeline']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({type: 'string', id: 'Event Type'});
            dataTable.addColumn({type: 'string', id: 'Location'});
            dataTable.addColumn({ type: 'string', role: 'tooltip' });
            dataTable.addColumn({type: 'date', id: 'Start'});
            dataTable.addColumn({type: 'date', id: 'End'});

            dataTable.addRows([
                {% for event_type, promos in event_types.items %}
                    {% for key, values in promos.items %}
                        {% for value in values %}
                            ['{{ event_type.name }}', '{{ value.event }}', '{{ value.event_location }}', new Date({{ value.start.year }}, {{ value.start.month }}, {{ value.start.day }}), new Date({{ value.end.year }}, {{ value.end.month }}, {{ value.end.day }})],
                        {% endfor %}
                    {% endfor %}
                {% endfor %} ]);
            var options = {
                timeline: {colorByRowLabel: true},
                backgroundColor: '#ffd',
                timeline: { groupByRowLabel: false }
            };
            chart.draw(dataTable, options);
        }
    </script>
</head>
<body>
<div id="timeline" style="height: 700px;"></div>
</body>