{% load cms_tags %}

<style>

    #singleLink{{ instance.id }} {
        margin: auto;
        background-color:{{ instance.bkg_color }};
        color:{{ instance.txt_color }};
        border: {{ instance.bordersize }}px solid {{ instance.bordercol }};
        {% if instance.height %}height:{{ instance.height }}px;{% endif %}
        {% if instance.boxwidth %}width: {{ instance.boxwidth }}px;{% endif %}
        {% if instance.fontsize %}font-size: {{ instance.fontsize }}px;{% endif %}
        {% if instance.padding %}padding: {{ instance.padding }}px;{% endif %}
        {% if instance.txtshadow %}text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);{% endif %}
        {% if instance.btnshadow %}box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);{% endif %}
        {% if instance.centeredtext %}text-align: center;{% else %}text-align: left;{% endif %}
        {% if instance.textwrap %}white-space: normal;{% endif %}
        {% if instance.boldlink %}font-weight: bold;{% endif %}
        -webkit-border-radius: {{ instance.borderradius }}px !important;
         -khtml-border-radius: {{ instance.borderradius }}px !important;
           -moz-border-radius: {{ instance.borderradius }}px !important;
            -ms-border-radius: {{ instance.borderradius }}px !important;
             -o-border-radius: {{ instance.borderradius }}px !important;
                border-radius: {{ instance.borderradius }}px !important;
    }
    #singleLink{{ instance.id }}:hover {
        background-color: {{ instance.hv_bkg_color }};
        color: {{ instance.hv_txt_color }};
        border-color: {{ instance.hv_bordercol }};
    }
.centeredBtn {
    width: 100%;
    text-align: center;
}
</style>
{% if instance.centered %}<div class="centeredBtn">{% endif %}
    <a href="{{ instance.get_absolute_url }}" {% if instance.new_window %}target="_blank"{% endif %} class="btn" id="singleLink{{ instance.id }}" role="button">
    {% if instance.iconbefore %}
        {% if instance.iconurl %}<img src="{{ instance.iconurl }}" style="height:{{ instance.iconsize }}px; width:{{ instance.iconsize }}px;"/>{% endif %}
        {% if instance.iconimage.url %}<img src="{{ instance.iconimage.url }}" style="height:{{ instance.iconsize }}px; width:{{ instance.iconsize }}px;"/>{% endif %}
        {% if instance.fontawesome %}{{ instance.fontawesome | safe }}{% endif %}
    {% endif %}
        {{ instance.text }}
    {% if instance.iconafter %}
        {% if instance.iconurl %}<img src="{{ instance.iconurl }}" style="height:{{ instance.iconsize }}px; width:{{ instance.iconsize }}px;"/>{% endif %}
        {% if instance.iconimage.url %}<img src="{{ instance.iconimage.url }}" style="height:{{ instance.iconsize }}px; width:{{ instance.iconsize }}px;"/>{% endif %}
        {% if instance.fontawesome %}{{ instance.fontawesome | safe }}{% endif %}
    {% endif %}
    </a>
{% if instance.centered %}</div>{% endif %}

