/* =================================================================== */
/* AD ZONES
====================================================================== */
@import 'vars';


.adZone1 {
  #adLeaderboard {
    height:               140px;
    padding:              27px 0 0 0;
  }
  #adLeaderboardImg {
    margin:               auto;
  }
}

/* AD Zone2 */
#adFold, .adZone2 {
  padding:15px 0;
  margin-top: 15px;
  border-top: $dotted;

  div {
    padding-right:0;
    padding-left:0;
  }
}

.adZone6 {
  background-color: $col-ogflightgrey2;
  padding:0;
  margin-bottom:20px;
}
.adZone6 {
  padding: 15px;
}

.tile-adspeed {
  box-shadow:           0 1px 2px $col-boxshadow;
  margin-bottom:        20px;
  padding:              15px;
  background-color:     $col-ogflightgrey;
}