@import 'vars';

.footerUpper {
  background-color: $col-ogfblue;
  font-family: $font-titles;
  padding:30px;
  //height:300px;
}
.footerLower {
  background-color: $col-ogfblack;
  color:$col-white;
  font-family: $font-titles;
  min-height:100px;
  padding:10px;

  img{
    height:80px;
    width:auto;
    float:left;
  }
}
.footerULeft {
  //width:20%;
  float:left;
}
.footerURight {
  //width:80%;
  float:right;
  //text-align:center;
  color:$col-menuwhite;

  a {
    color:$col-menuwhite;

    &:hover {
      color:$col-ogfyellow;
      text-decoration:none;
    }
  }
}
.footerLogo {
  //height:auto;
  //width:200px;
}
.footerSocial {
  //float:right;
  font-size:20px;
  list-style-type: none;
  padding: 13px 0 0 0;
  overflow: hidden;

  li {
    float: left;
    margin-top: -4px;
  }

  li a {
    display: block;
    color: $col-menuwhite;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
  }

  li a:hover {
    color: $col-ogfyellow;
  }
}
.footerMenu {
  max-width:800px;
  font-size:20px;
  font-weight:$font-bold;
  list-style-type: none;
  padding: 13px 0 0 100px;
  overflow: hidden;

  li {
    float: left;
    margin-top: -4px;
  }

  li a {
    display: block;
    color: $col-menuwhite;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
  }

  li a:hover {
    color: $col-ogfyellow;
    text-decoration:none;
  }
}

.footerSPEMenu {
  max-width:800px;
  font-size:16px;
  font-weight:$font-bold;
  list-style-type: none;
  padding: 30px 0 0 100px;
  overflow: hidden;

  li {
    float: left;
    margin-top: -4px;
  }

  li a {
    display: block;
    color: $col-menuwhite;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
  }

  li a:hover {
    color: $col-ogfyellow;
  }
}
.copyright {
  font-size:10px;
  color:$col-menuwhite;
  white-space: nowrap;
}