/* VARS */

$col-white:             white;
$col-menuwhite:         white;
$col-ogfblack:          #2a2a2a;
$col-ogfblue:           #181c41;
$col-ogflightgrey:      #f2efea;
$col-ogflightgrey2:     #f4f4f4;
$col-ogfnotsolightgrey: #e4e1d8;
$col-basegrey:          grey;
$col-ogfred:            #d92226;
$col-red:               #bf1d21;
$col-ogfyellow:         #fffb22;
$col-sponsoryellow:     #ffca4c;
$col-twitShare:         #00ACED;
$col-ogfbluehover:      #808bcf;
$col-lInShare:          #007BB5;
$col-fbShare:           #3B5998;
$col-superback:         #193b44;

$font-main:             "proxima-nova",sans-serif;
$font-titles:           "proxima-nova",sans-serif;

$font-thin:             100;
$font-light:            300;
$font-regular:          400;
$font-bold:             700;

$dotted:                1px dotted $col-ogfblack;
$blockDivider:          7px solid $col-ogfnotsolightgrey;
