/* WWW Blog */
.blogDetail {
  //border:     1px solid hotpink;
  background-color: white;
  box-shadow:           0 1px 2px #b4b4b9;
  margin-bottom:        20px;
  padding:              15px;
  min-width:            150px;
  z-index:              100;
  position:             relative;

  .blogTitleBox {

    .blogTitles {

      h2 {

      }
    }

    .blogAuthorBox {
      margin-bottom:  20px;

      .blogAuthor {

      }
      .blogDate {

      }
    }

    .blogBodyText {

    }

  }
  .articleShares {
    margin-bottom:      20px;
  }
  .demoBlock {
    border:     1px solid orangered;
    opacity:    .25;
    padding:    10px;
  }
}
