/* =================================================================== */
/* MAIN STYLE SHEET FOR OGF
====================================================================== */
@import 'vars';

/* ************************ */
/* BASE HTML STYLES         */
body {
  font-family:            $font-main;
}
h1, h2, h3, h4 {
  font-family:            $font-titles;
  font-weight:            $font-bold;
}

* {
  -webkit-border-radius:  0 !important;
  -moz-border-radius:     0 !important;
  border-radius:          0 !important;
}
.row {
  //margin:0 !important;
  margin:                 0;
}
.container-fluid {
  padding:                0;
}
a {
  &:hover {
    text-decoration:      none;
  }
}

/* ************************ */
/* HEAD FOOT & CONTENT      */
@import 'ogfheader';
@import 'ogffooter';
@import 'ogfcontent';
@import 'tiles';
@import 'adzones';

/* ************************************ */
/* MISC  */

.red {
  color:              $col-ogfred !important;
}
.yellow {
  color:              $col-ogfyellow !important;
}
.white {
  color:              $col-white !important;
}
.greyback {
  background-color:   $col-ogflightgrey;
}
.h2MarginB {
  margin-bottom:      20px;
}
.separatorDotted {
  border-top:         $dotted;
  margin-top:         20px;
  padding-top:        20px;
}
.padZero {
  padding:            0;
}
.margZero {
  margin:             0;
}
.sponsored {
  padding:            3px 3px 3px 5px;
  background-color:   $col-ogfyellow;
  color:              $col-ogfblack;
  font-weight:        $font-bold;
  font-size:          12px;
  letter-spacing:     2px;
}
.cke_maximized {
  margin-top:         50px !important;
}
.more {
  position:           absolute;
  right:              20px;
  bottom:             20px;
  color:              $col-ogfblack;

  &:hover {
    color:            $col-ogfbluehover;
  }
}

.see-all-div {
  margin:             15px 0;
  padding:            10px 0 0 0;
  border-top:         1px solid $col-ogfnotsolightgrey;
}
.see-all {
  font-size:          15px;
  font-weight:        $font-bold;
  color:              $col-speblue;

  &:hover {
    color:            $col-ogfbluehover;
  }

  i {
    margin-left:      25px;
  }
}