/* =================================================================== */
/* MAIN STYLE SHEET FOR OGF
====================================================================== */
@import 'vars';

/* ************************ */
/* BASE HTML STYLES         */
body {
  font-family:            $font-main;
  font-size:              14px !important;
}
h1, h2, h3, h4 {
  font-family:            $font-titles;
  font-weight:            $font-bold;
}

* {
  -webkit-border-radius:  0 !important;
  -moz-border-radius:     0 !important;
  border-radius:          0 !important;
}
.row {
  margin:                 0;
}
.container-fluid {
  padding:                0;
}
a {
  &:hover {
    text-decoration:      none;
  }
}

/* ************************ */
/* HEAD FOOT & CONTENT      */
@import 'ogfheader';
@import 'ogffooter';
@import 'ogfcontent';
@import 'tiles';
@import 'adzones';

/* ************************************ */
/* MISC  */

.bigbol {
  font-weight: bold;
}
.red {
  color:              $col-ogfred !important;
}
.yellow {
  color:              $col-ogfyellow !important;
}
.white {
  color:              $col-white !important;
}
.greyback {
  background-color:   $col-ogflightgrey;
}
.h2MarginB {
  margin-bottom:      20px;
}
.separatorDotted {
  border-top:         $dotted;
  margin-top:         20px;
  padding-top:        20px;
}
.padZero {
  padding:            0;
}
.margZero {
  margin:             0;
}
.sponsored {
  padding:            3px 3px 3px 5px;
  background-color:   $col-ogfyellow;
  color:              $col-ogfblack;
  font-weight:        $font-bold;
  font-size:          12px;
  letter-spacing:     2px;
}
.cke_maximized {
  margin-top:         50px !important;
}
.more {
  float:              right;
  color:              $col-ogfblack;

  &:hover {
    color:            $col-ogfbluehover;
  }
}
.moreB {
  color:              $col-ogfblack;
  float:  right;

  &:hover {
    color:            $col-ogfbluehover;
  }
}
.see-all-div {
  margin:             15px 0;
  padding:            10px 0 0 10px;
  border-top:         1px solid $col-steelgrey;
}
.see-all {
  font-size:          15px;
  font-weight:        $font-bold;
  color:              $col-speblue2 !important;

  &:hover {
    color:            $col-steelgrey;
  }

  i {
    margin-left:      25px;
  }
}
.morepromo {
  padding:            0 !important;
  margin:             0 !important;

  .row {
    padding:            0;
    margin:             0;
  }
}
.see-all-div-carosel {
  background-color:   $col-white;
  padding:            10px;
  margin-bottom:      10px;
}
.see-all-div-promo {
  padding:            0 10px 10px 10px;
}
.see-all-promo {
  font-size:          15px;
  font-weight:        $font-bold;
  color:              $col-speblue;
  //margin:             10px 0 0 0;
  //padding:            10px 0 0 0;

  &:hover {
    color:            $col-steelgrey;
  }

  i {
    margin-left:      25px;
  }
}

.panel {
  background-color: transparent;
}
.emptyClass {
  font-size: 0;
}
