/* =================================================================== */
/* Printable Page Styles
====================================================================== */
html, html * { font-family: Arial, sans-serif; }

body { width: 100%; }

body * { visibility: hidden; font-size: 16pt; }

.dontPrintMe, .dontPrintMe * { visibility: hidden; display: none; }

#printMe, #printMe * { visibility: visible; }

#printMe { position: absolute; left: 0; top: 0; }
#printMe table { table-layout: fixed; }
#printMe table td { padding: 10px; }
#printMe img { page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */ page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */ page-break-inside: avoid; /* or 'auto' */ }

.articlePicture { width: 50%; height: auto; float: right; margin: 0 0 10px 10px; }

img { page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */ page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */ page-break-inside: avoid; /* or 'auto' */ }
