/* =================================================================== */
/* MAIN STYLE SHEET FOR jpt
====================================================================== */
/* =================================================================== */
/* VARIABLES
====================================================================== */
/* Images */
/* ************************ */
/* BASE HTML STYLES         */
body { font-family: "proxima-nova", sans-serif; }

h1, h2, h3, h4 { font-family: "proxima-nova", sans-serif; font-weight: 700; }

* { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }

.row { margin: 0; }

.container-fluid { padding: 0; }

a:hover { text-decoration: none; }

/* ************************ */
/* HEAD FOOT & CONTENT      */
/* ************************************ */
/* MISC  */
.red { color: #d92226 !important; }

.yellow { color: #fffb22 !important; }

.white { color: white !important; }

.greyback { background-color: #f2efea; }

.h2MarginB { margin-bottom: 20px; }

.separatorDotted { border-top: 1px dotted #2a2a2a; margin-top: 20px; padding-top: 20px; }

.padZero { padding: 0; }

.margZero { margin: 0; }

.sponsored { padding: 3px 3px 3px 5px; background-color: #fffb22; color: #2a2a2a; font-weight: 700; font-size: 12px; letter-spacing: 2px; }
