{% load sekizai_tags cms_tags %}

<div id="carousel-plugin-{{ instance.id }}" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for carousel in instance.child_plugin_instances %}
            {% if forloop.first %}
                <li data-target="#carousel-plugin-{{ instance.id }}" data-slide-to="{{ forloop.counter0 }}"
                    class="active"></li>
            {% else %}
                <li data-target="#carousel-plugin-{{ instance.id }}" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
        {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox">
        {% for carousel in instance.child_plugin_instances %}
            {% if forloop.first %}
                <div class="item active">
                    {% render_plugin carousel %}
                </div>
            {% else %}
                <div class="item">
                    {% render_plugin carousel %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <a class="left carousel-control" href="#carousel-plugin-{{ instance.id }}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-plugin-{{ instance.id }}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>