{% extends "www_base.html" %}
{% load cms_tags sekizai_tags var_tags %}

{% block title %}Communication Preferences - SPE{% endblock title %}
{% block content %}

    {% addtoblock "css" %}
        <style>
            section.search_section {
                margin-left: 20px; margin-right: 20px; margin-bottom: 20px;
                background-color: #ffffff;
                border: 1px solid #777;
                color: #777;
            }
            legend {
                color: #777;
                padding-left: 20px; padding-right: 20px;
            }
        </style>
    {%  endaddtoblock %}

    {% if  emsg  %}
        <div class="error panel panel-danger">
            {{ emsg }}
        </div>
    {%  endif %}

    <div class="well">
        <div id="search_panel">
        <h1>Find User</h1>
        <form id=search_form method="POST" class="search-form">{% csrf_token %}
            {{ search_form.as_p }}
            <button id="search_button" type="submit" class="save btn btn-default">Search</button>
        </form>

        {% if users_found.count > 0 %}
            <div id="search_results">
                 <h3>Please select one of the following:</h3>
                {% for u in users_found %}
                <a href="{% url 'add_prefs_search' %}?user_id={{ u.id }}">{{ u.id }}</a> {{ u.email }} {{ u.first_name }} {{ u.last_name }} {{ u.country }}
                {% endfor %}
            </div>
        {% endif %}
        </div>

        <div id="prefs_panel">
        <form id=prefs_form action="{% url 'add_prefs_insert' %}" method="POST" class="prefs_form">
            {% csrf_token %}
            <div class="fieldWrapper">
                <label for="prefs_customer_id">Customer id:</label> <input id="prefs_customer_id" maxlength="12" name="customer_id" type="text" />
            </div>
            {% set_var "" as cur_cat %}
            {% for pgroup in pgroups %}
                {% if pgroup.category != cur_cat %}
                    <h3>{{ pgroup.category }}</h3>
                    {% set_var "{{pgroup.category}}" as cur_cat %}
                {% endif %}
                <div class="fieldWrapper">
                    <h4>{{ pgroup.name }}</h4><!-- id: {{ pgroup.id }} -->
                </div>
                <div class="fieldWrapper">
                <ul>
                {% for pitem in pitems %}
                    {% if pitem.group_id == pgroup.id %}
                        <li><label for="id_g{{ pitem.group_id }}_p{{ pitem.id }}"><input id="id_g{{ pitem.group_id }}_p{{ pitem.id }}" name="prefs_{{ pitem.group_id }}" type="checkbox" value="{{ pitem.id }}" /> {{ pitem.name }}</label></li>
                    {% endif %}
                {% endfor %}
                </ul>
                </div>
            {% endfor %}

            <button id="submit_button" type="submit" class="save btn btn-default">Submit</button>
        </form>
        </div>
    </div>

    {% addtoblock "js" %}
        <script type="text/javascript" charset="utf-8">
            $( document ).ready(function() {

                if('{{ saved }}' == 'True'){
                    alert('Saved successfully');
                }
                var cid = '{{ cid }}';
                if (cid == undefined || cid == '') {
                    // enable the search and disable the preferences
                    $('#search_button').attr('disabled', false);
                    $('#submit_button').attr('disabled', true);
                    $('#search_panel').show();
                    $('#prefs_panel').hide();
                } else {
                    $('#search_button').attr('disabled', true);
                    $('#submit_button').attr('disabled', false);
                    $('#prefs_customer_id').val('{{ cid }}');
                    $('#search_panel').hide();
                    $('#prefs_panel').show();
                }
//                console.log("Page Level Javascript Ran!");

            });
        </script>
    {%  endaddtoblock %}

{% endblock content %}