{% extends "www_base.html" %}
{% load cms_tags sekizai_tags var_tags %}

{% block title %}Communication Preferences :: SPE{% endblock title %}
{% block content %}

    {% addtoblock "css" %}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
<style xmlns="http://www.w3.org/1999/html">
    SECTION.search_section {
        margin-left: 20px; margin-right: 20px; margin-bottom: 20px;
        background-color: #ffffff;
        border: 1px solid #777;
        color: #777;
    }
    LEGEND {
        color: #777;
/*        padding-left: 20px; padding-right: 20px;*/
        margin: 1.8em .18em 0 1.8em;
    }
    HEADER {
        margin-top: 1.08em;
    }
    HEADER, #submit_button {
        font-weight: bolder;
    }
    #submit_button {
        margin: 3.6em;
    }
    DIV.prefs_group {
        margin-left: 5.4em;
    }
    LI.user_match A {
        display: inline-block;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-collapse: collapse;
        padding: 2px 5px;
        font-size: 126%;
    }
    LI.user_match:hover A {
        background: #5bc0de;
        color: #fff;
    }
    .findTitle {
        margin-bottom:  30px;
    }
    #search_form label {
        width: 100px;
    }
    #search_button {
        margin-top: 30px;
    }
    .prefs_group {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
        margin-bottom:  20px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .prefs_group_header {
        font-size:      15px;
        font-weight:    bold;
        margin-bottom:  15px;
    }
</style>
    {%  endaddtoblock %}

    {% if  emsg  %}
        <div class="error panel panel-danger">
            {{ emsg }}
        </div>
    {%  endif %}

    <div class="well">
        <div id="search_panel">
        <h2 class="findTitle">Help us find your account:</h2>
        <h4>We want to save your preferences correctly</h4>

            <form id=search_form method="POST" class="search-form">{% csrf_token %}
                {{ search_form.as_p }}
                <button id="search_button" type="submit" class="save btn btn-default">Search</button>
            </form>

            {% if users_found.count > 1 %}
                <div id="search_results">
                    <h3>...or select from the following:</h3>
                    <ul>
                    {% for u in users_found %}
                        <li class="user_match">
                            <a href="{% url 'add_prefs_search' %}?user_id={{ u.id }}">
                                <b>#<span data-field="ci">{{ u.id }}</span> &nbsp; <span data-field="ea">{{ u.email }}</span></b>
                                &nbsp;
                                <span data-field="n1">{{ u.first_name }}</span> <span data-field="n2">{{ u.last_name }}</span>
                                &nbsp;
                                <span data-field="lc">{{ u.country }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </div>


        <div id="prefs_panel">
        <h2>My Communication Preferences</h2>
        <form id=prefs_form action="{% url 'add_prefs_insert' %}" method="POST" class="prefs_form">
            {% csrf_token %}

            {% set_var "" as rendered_supergroup_name %}
            {% set_var "" as rendered_group_name %}

            {% for pgroup in pgroups %}
                {% if pgroup.category == 'Technical Topics of Interest' %}
                    {% set_var 'Y' as group_is_collapsible %}
                {% else %}
                    {% set_var 'N' as group_is_collapsible %}
                {% endif %}

                {% if rendered_supergroup_name != pgroup.category %}
                    {% if rendered_supergroup_name != "" %}
    </fieldset>
                    {% endif %}
    <fieldset class="prefs_supergroup"><legend>{{ pgroup.category }}</legend>
                    {% set_var "{{pgroup.category}}" as rendered_supergroup_name %}
                {% endif %}

                {% if rendered_group_name != pgroup.name %}
      <div class="prefs_group">
        <header class="prefs_group_header" data-group="{{ pgroup.id }}">{{ pgroup.name }}</header>
        <button type="button" class="btn btn-info" data-g="{{ pgroup.id }}"> All </button>
        <button type="button" class="btn btn-info" data-g="{{ pgroup.id }}"> None </button>
{% if group_is_collapsible == 'Y' %}
        <button type="button" class="btn btn-info" data-g="{{ pgroup.id }}" data-toggle="collapse" data-target="#prefs_group_{{ pgroup.id }}_details_wrapper"> Select... </button>
{% endif %}
        <div id="prefs_group_{{ pgroup.id }}_details_wrapper" class="prefs_group_wrapper{% if group_is_collapsible == 'Y' %} collapse{% endif %}">
                    {% set_var "{{pgroup.name}}" as rendered_group_name %}
                {% endif %}
                {% for pitem in pitems %}
                    {% if pitem.group_id == pgroup.id %}
                    <div class="checkbox">
                    <label for="id_g{{ pitem.group_id }}_p{{ pitem.id }}">
                        <input type="checkbox" id="id_g{{ pitem.group_id }}_p{{ pitem.id }}" name="prefs_{{ pitem.group_id }}" value="{{ pitem.id }}" data-g="{{ pitem.group.id }}">
                        {{ pitem.name }}
                    </label>
                    </div>
                    {% endif %}

                {% endfor %}
                </div>
        </div>

            {% endfor %}
            </fieldset>

            <input id="prefs_customer_id" maxlength="12" name="customer_id" type="hidden" />

            <button id="submit_button" type="submit" class="save btn btn-default"> Save Preferences </button>

        </form>

        </div>
    </div>

    {% addtoblock "js" %}
<script type="text/javascript" charset="utf-8">

// checkbox group helper function: check/uncheck a lot of inputs at once; enable/disable the All/None buttons
function check_boxes_for_group(g,b) {
    // the first parameter is required, and must be an integer: the ID# of a prefs group
    if( typeof (g - 0) != 'number' ){
        return false;
    }
    var sel = '[data-g=' + g + ']';
    var $els = $('INPUT[type=checkbox]').filter(sel);
    var $btn_all = $els.filter(':first').parents('DIV.prefs_group').find('BUTTON:contains(" All ")');
    var $btn_none = $els.filter(':first').parents('DIV.prefs_group').find('BUTTON:contains(" None ")');
    // the first parameter is optional; normally it is boolean (to check or uncheck the boxes); if omitted, it only enables/disables the All/None buttons that correspond to the specified prefs group
    if( typeof b != 'boolean' ){
        var count_boxes = $els.length;
        var count_checked = $els.filter(':checked').length;
        var count_unchecked = $els.filter(':not(:checked)').length;
        var some_are_checked = ( count_boxes > count_unchecked );
        var some_are_unchecked = ( count_boxes > count_checked );
        if( some_are_checked ){
            $btn_none.removeProp('disabled');
        }
        else {
            $btn_none.prop('disabled','disabled');
        }
        if( some_are_unchecked ){
            $btn_all.removeProp('disabled');
        }
        else {
            $btn_all.prop('disabled','disabled');
        }
        return true;
    }
    else {
        setTimeout(function(){
            check_boxes_for_group(g);
        },180);
        if (b) {
            $btn_all.prop('disabled','disabled');
            $btn_none.removeProp('disabled');
            return $els.prop('checked', 'checked');
        }
        else {
            $btn_none.prop('disabled','disabled');
            $btn_all.removeProp('disabled');
            return $els.removeProp('checked');
        }
    }
}

// conditional cross-platform console log shim, with boolean for quick global disabling
function xlog(text){
    if( false ){
        if( typeof console == 'object' && typeof console.log == 'function' ){
            return console.log(text);
        }
        else {// looking at you, IE
            // alert(text);
        }
    }
    else return true;
}

// as soon as the DOM is ready...
$(function() {

    // alert if the communications preferences were successfully saved
    if('{{ saved }}' == 'True'){
        alert('Saved successfully');
    }

    // display the appropriate form content based on whether we have a single match
    var cid = '{{ cid }}';
    var no_single_user_match_found_yet = (cid == undefined || cid == '');
    var cve_question_not_answered_yet = ( $('#q_cve').val()=='' );
    var cvp_question_not_answered_yet = ( $('#q_cvp').val()=='' );
    var jpt_question_not_answered_yet = ( $('#q_sub_jpt').val()=='' );
    var ogf_question_not_answered_yet = ( $('#q_sub_ogf').val()=='' );

    if ( no_single_user_match_found_yet ) {// we are on step 1
        // enable the user search and hide the preference options
        $('#search_button').attr('disabled', false);
        $('#submit_button').attr('disabled', true);
        $('#search_panel').show();
        $('#prefs_panel').hide();
    }
    else if ( cve_question_not_answered_yet || cvp_question_not_answered_yet ) {// we are on the most important overarching questions
        $('#sssss').show();
        $('#hhhhh').hide();
    }
    else {// we are on step 2
        // disable the user search and show the preference options
        $('#search_button').attr('disabled', true);
        $('#submit_button').attr('disabled', false);
        $('#search_panel').hide();
        $('#prefs_panel').show();
        // stamp the constituent/customer ID# into a hidden field
        $('#prefs_customer_id').val('{{ cid }}');
    }

    // bind the checkbox group helper function to the appropriate buttons
    setTimeout(function(){
        xlog('Intent: bind checkbox group helper function to the All/None buttons');
        $('BUTTON').filter(':contains(" All ")').on('click',function(){ var g = $(this).data('g'); xlog('Intent: check all g#'+g); check_boxes_for_group(g,true); });
        $('BUTTON').filter(':contains(" None ")').on('click',function(){ var g = $(this).data('g'); xlog('Intent: uncheck all g#'+g); check_boxes_for_group(g,false); });
        $('BUTTON').filter(':contains(" Select... ")').one('click',function(){ $(this).fadeOut(); });
        $('INPUT[type=checkbox][data-g]').on('click',function(){ var g = $(this).data('g'); check_boxes_for_group(g); });
    },1800);


});
</script>
    {%  endaddtoblock %}

{% endblock content %}