{% extends "generic_base.html" %}

{% block css_base %}
    {%
        if  laf.toLowerCase()=='jpt':

    %}
    {% with css_template="include_ogf_css.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock css_base %}

{% block wrap_begin %}<div class="container-fluid">{% endblock wrap_begin %}

{% block content_header %}
    {% with header_template="include_ogf_header.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock content_header %}

{% block wrap_end %}</div><!-- CONTAINER END -->{% endblock wrap_end %}

{% block content_footer %}
    {% with footer_template="include_ogf_footer.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock content_footer %}
