{% extends "generic_base.html" %}
{% load cms_tags sekizai_tags %}
{% load menu_tags staticfiles %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static 'hse/img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'hse/img/favicon.ico' %}" type="image/x-icon">
{% endblock favicon %}

{% block web_fonts %}
    {{ block.super }}
    <script src="https://use.typekit.net/xwk3nys.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script>
        var thisPub = 'hsenow'; // Global
    </script>
{% endblock web_fonts %}

{% block css_base %}
    {% with css_template="include_hse_css.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock css_base %}

{% block wrap_begin %}<div class="container-fluid">{% endblock wrap_begin %}

{% block content_header %}
    <div class="row adZone1" id="adZone1">
        <div class="col-md-12 text-center" id="adLeaderboard">
            <!-- AdSpeed.com Tag 8.0.2 for [Zone] OGF 1 728x90 [Any Dimension] -->
            <script type="text/javascript" src="http://g.adspeed.net/ad.php?do=js&zid=79084&oid=7699&wd=-1&ht=-1&target=_blank&noerror=1"></script>
            <!-- AdSpeed.com End -->
        </div>
    </div>

    {% with header_template="include_hse_header.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock content_header %}

{% block wrap_end %}</div><!-- CONTAINER END -->{% endblock wrap_end %}

{% block content_footer %}
    {% with footer_template="include_hse_footer.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock content_footer %}
