{% load cms_tags sekizai_tags staticfiles %}
        <footer id="spe-footer">
            <div class="nav-container row">
                <div class="col-sm-12 col-md-7 footleft">
                    <nav id="text-links">
                        <ul>
                            <li><a href="/about/guidelines.php">Guidelines</a></li>
                            <li><a href="/press/">Press</a></li>
                            <li><a href="/jobs/">Jobs at SPE</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
                            <li><a href="/sitemap/">Sitemap</a></li>
                        </ul>
                    </nav>
                    <nav id="legal-links">
                        <ul>
                            <li><a href="/about/privacypolicy.php">Privacy Policy</a></li>
                            <li><a href="/about/cookiepolicy.php">Cookie Policy</a></li>
                            <li><a href="/about/terms-of-service.php">Terms of Service</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-12 visible-xs visible-sm footspace"></div>
                <nav id="social-media-links" class="col-sm-12 col-md-5 footright">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/spemembers" id="facebook" title="Connect with SPE on Facebook"></a></li>
                        <li><a target="_blank" href="https://twitter.com/SPEtweets" id="twitter" title="Follow SPE Events on Twitter"></a></li>
                        <li><a target="_blank" href="http://www.linkedin.com/groups/Society-Petroleum-Engineers-57660/about" id="linkedin" title="Join SPE's professional network on LinkedIn"></a></li>
                        <li><a target="_blank" href="http://www.youtube.com/2012SPE" id="youtube" title="Explore SPE videos on YouTube"></a></li>
                        <li><a target="_blank" href="https://instagram.com/spengineers/" id="instagram" title="Connect with SPE on Instragram"></a></li>
                        <li><a target="_blank" href="http://connect.spe.org/" id="connect" class="last" title="SPE's forum and social media platform."></a></li>
                    </ul>
                </nav>

                <div class="col-sm-10 col-sm-offset-1">
                    <p class="copyright">&copy; Copyright 2003-2016, Society of Petroleum Engineers. All rights reserved.</p>
                </div>
                <div class="clear"></div>
            </div>
        </footer>

    <script type="text/javascript" charset="utf-8">
        $( document ).ready(function() {

            $(".tile-bluebar img, .tile-blue img, .tile-lightblue img, .tile-white img, .tile-greenbar img, .tile-alert img, .tile-editorial img").addClass("img-responsive").css('display', 'initial');

        });
    </script>
    <!-- #spe-footer -->
