{% load cms_tags sekizai_tags staticfiles menu_tags %}
    <!-- HEADER Begin -->
        <!-- topbar -->
        {% include 'include_topbar.html' %}

        <div class="row dontPrintMe" id="menubar">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-offset-1" id="mainLogo">
                <a href="/en/ogf/ogf-main-page/"><img src="{% static 'ogf/img/ogf-logo-horizontal.svg' %}" class="img-responsive"></a>
            </div>
            <div class="col-md-8 col-lg-7 text-right">
                <ul class="pubMenu">
                    {% show_menu 1 100 0 1 %}
                    <li class="searchIcon"><a role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row searchbar collapse dontPrintMe" id="collapseSearch">
            <div class="col-sm-12 text-right">
                <form class="form-inline" action="/sitemap/search.php" method="post" accept-charset="utf-8">
                    <div class="input-group">
                        <input class="form-control" type="search" name="q" id="gssTextInput" placeholder="Search"/>
                        <input type="hidden" id="gssscope" name="scope" value="ogf"/>
                        <!-- sas comment -->
                        <span class="input-group-btn">
{#                            <button class="btn btn-default" type="button">Go!</button>#}
                            <input class="btn btn-default" type="submit" name="submit" value="Go!" id="gssSubmitButton"/>
                        </span>
                    </div>
                </form>

{#                            {{ variables.is_local_ip }}#}
{#                            {{ variables.cip }}#}

                            {% if variables.is_local_ip == True %}
                            <div class="gse-search" style="width: 350px">
                                <!-- These styles fix CSE and Bootstrap 3 conflict -->
                                <style type="text/css">
                                    .gsc-adBlock {
                                        opacity: 0.5;
                                    }
                                    .reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block
                                    {
                                        -webkit-box-sizing: content-box;
                                        -moz-box-sizing: content-box;
                                        box-sizing: content-box;
                                    }
                                    input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
                                    {
                                        box-sizing: content-box;
                                        line-height: normal;
                                    }
                                    .gsc-control-cse {
                                        padding: 0;
                                    }
                                </style>
                                <script>
                                    (function() {
                                        var cx = '012047942974714092081:p4lfuksd0j4';
                                        {#  var cx = '007919311804914109615:_7f3pu6glfg'; #}
                                        var gcse = document.createElement('script');
                                        gcse.type = 'text/javascript';
                                        gcse.async = true;
                                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(gcse, s);
                                    })();
                                </script>
                                <gcse:search></gcse:search>
                            </div>
                            {% endif %}

            </div>
        </div>

{#    {% addtoblock "js" %}#}
{#        <script type="text/javascript" charset="utf-8">#}
{#            $( document ).ready(function() {#}
{##}
{#                // Add JQuery Here#}
{#                console.log("JD WUZ HEER!");#}
{##}
{#            });#}
{#        </script>#}
{#    {%  endaddtoblock %}#}
    <!-- HEADER END -->
