{% load cms_tags sekizai_tags staticfiles %}
    <!-- FOOTER Begin -->
    <div class="footerUpper row">
        <div class="footerULeft col-md-3">
            <div class="row">
                <div class="col-xs-8 text-center">
                    <img src="{% static 'hse/img/hse-logo-wht.svg' %}" class="footerLogo">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-12 text-center">
                    <ul class="footerSocial" style="white-space: nowrap;">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>&nbsp;</p>
                    <p class="footerText">HSE Now is a source for news and technical information affecting the health, safety, security, environment, social responsibility, regulation, and quality aspects of the upstream oil and gas industry. HSE Now is updated continually and is available to all SPE members.</p>
                    <p class="copyright">&copy;2003-2016 Society of Petroleum Engineers, All Rights Reserved.</p>
                </div>
            </div>
        </div>
        <div class="footerURight col-md-9">
            <div class="col-md-2 col-md-offset-1">
                <h3>UTILITY</h3>
                <p><a>About HSENow</a></p>
                <p><a>HSE Discipline</a></p>
                <p><a>HSE Events</a></p>
                <p><a>Contact</a></p>
            </div>
            <div class="col-md-3">
                <h3>&nbsp;</h3>
                <p><a>Technical Director</a></p>
                <p><a>Advisory Committee</a></p>
                <p><a>Awards</a></p>
            </div>
            <div class="col-md-3">
                <h3>CATEGORIES</h3>
                <p><a>Exclusive Content</a></p>
                <p><a>Health</a></p>
                <p><a>Safety</a></p>
                <p><a>Security</a></p>
                <p><a>Environment</a></p>
                <p><a>Social Responsibility</a></p>
                <p><a>Regulations</a></p>
            </div>
            <div class="col-md-3">
                <h3>SPE</h3>
                <p><a>SPE</a></p>
                <p><a>JPT</a></p>
                <p><a>OGF</a></p>
                <p><a>SPE Journals</a></p>
                <p><a>HSE Now</a></p>
            </div>
        </div>
    </div>
    <div class="footerLower">
        <img src="{% static 'ogf/img/spe-logo-icon.svg' %}"/>
        <ul class="footerSPEMenu">
            <li><a href="">MEMBERSHIP</a></li>
            <li><a href="">EVENTS</a></li>
            <li><a href="">PUBLICATIONS</a></li>
            <li><a href="">TRAINING</a></li>
            <li><a href="">RESOURCES</a></li>
        </ul>
    </div>
    <!-- FOOTER END -->
        <!-- div id="testmessage">REPLACE THIS</div -->

    {% addtoblock "js" %}
        <script type="text/javascript" charset="utf-8">
            $( document ).ready(function() {

{#                $("#testmessage").text("BEEN REPLACED");#}

                if ($("#adLeaderboard").find("img").length > 0) {
                    //do something
{#                    $("#adZone1").text("HAS IMAGE");#}
                } else {
                    // do something else
                    $("#adZone1").hide(0);
                }

            });
        </script>
    {%  endaddtoblock %}
