<div class="row dontPrintMe" id="topbar">

    <div class="col-sm-6 topbarcol">
        <ul class="topbarmenuleft">
            <li><a href="http://www.spe.org/">SPE</a></li>
            <li><a href="http://www.spe.org/jpt/">JPT</a></li>
            <li><a href="https://www.spe.org/en/ogf/ogf-main-page/">OGF</a></li>
            <li><a href="http://www.spe.org/hsenow/">HSE Now</a></li>
            <li><a href="http://www.spe.org/twa/">The Way Ahead</a></li>
        </ul>
    </div>
    <div class="col-sm-4 text-right topbarcol">
        <ul class="topbarmenuright">
            <li><a href="https://www.facebook.com/spemembers" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/SPEtweets" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/groups/57660/profile"><i class="fa fa-linkedin" target="_blank"></i></a></li>
            <li><a href="https://www.youtube.com/user/2012SPE"><i class="fa fa-youtube-play" target="_blank"></i></a></li>
        </ul>
    </div>
    <div class="col-sm-2 text-center topbarcol" id="signin">
        {% if login.url %}
        <li><a href="{{ login.url }}" id="global_login" class="loginLink"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ login.label }}</a></li>
        {% endif %}
    </div>

</div>