{% load cms_tags sekizai_tags staticfiles menu_tags %}
    <!-- HEADER Begin -->
        <div class="row" id="topbar">
            <div class="col-sm-6 topbarcol">
                <ul class="topbarmenuleft">
                    <li><a href="http://www.spe.org/">SPE</a></li>
                    <li><a href="/">JPT</a></li>
                    <li><a href="/" class="yellow">OGF</a></li>
                    <li><a href="/">HSE Now</a></li>
                    <li><a href="/">The WAY Ahead</a></li>
                </ul>
            </div>
            <div class="col-sm-4 text-right topbarcol">
                <ul class="topbarmenuright">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-2 text-center topbarcol" id="signin">
                <a href=""><i class="fa fa-user"></i> Sign In</a>
            </div>

        </div>

        <div class="row" id="menubar">
            <div class="col-md-2 col-md-offset-1" id="mainLogo">
                <img src="{% static 'hse/img/hse-logo.svg' %}"/>
            </div>
            <div class="col-md-8 text-right">
                <ul class="pubMenu">
{#                    {% show_menu 0 0 0 0 %}#}
                    {% show_menu_below_id "hsenow-mag" %}
{#                    <li><a href="/articles/publications/ogf/issues">ISSUES</a></li>#}
                    <li class="searchIcon"><a role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row searchbar collapse" id="collapseSearch">
            <div class="col-sm-12 text-right">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </form>

{#                            {{ variables.is_local_ip }}#}
{#                            {{ variables.cip }}#}

                            {% if variables.is_local_ip == True %}
                            <div class="gse-search" style="width: 350px">
                                <!-- These styles fix CSE and Bootstrap 3 conflict -->
                                <style type="text/css">
                                    .gsc-adBlock {
                                        opacity: 0.5;
                                    }
                                    .reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block
                                    {
                                        -webkit-box-sizing: content-box;
                                        -moz-box-sizing: content-box;
                                        box-sizing: content-box;
                                    }
                                    input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
                                    {
                                        box-sizing: content-box;
                                        line-height: normal;
                                    }
                                    .gsc-control-cse {
                                        padding: 0;
                                    }
                                </style>
                                <script>
                                    (function() {
                                        var cx = '012047942974714092081:rjfk8kcgrmc';
                                        {#  var cx = '007919311804914109615:_7f3pu6glfg'; #}
                                        var gcse = document.createElement('script');
                                        gcse.type = 'text/javascript';
                                        gcse.async = true;
                                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(gcse, s);
                                    })();
                                </script>
                                <gcse:search></gcse:search>
                            </div>
                            {% endif %}

            </div>
        </div>
    <!-- HEADER END -->
