{% load cms_tags sekizai_tags staticfiles %}
    <!-- FOOTER Begin -->
    <div class="footerUpper row dontPrintMe">
        <div class="footerULeft col-md-3">
            <img src="{% static 'ogf/img/ogf-logo-horizontal.svg' %}" class="footerLogo">
            <ul class="footerSocial">
                <li><a href="https://www.facebook.com/spemembers" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/SPEtweets" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/groups/57660/profile"><i class="fa fa-linkedin" target="_blank"></i></a></li>
                <li><a href="https://www.youtube.com/user/2012SPE"><i class="fa fa-youtube-play" target="_blank"></i></a></li>
            </ul>
            <p class="copyright">&copy;2003-2016 Society of Petroleum Engineers, All Rights Reserved.</p>
        </div>
        <div class="footerURight col-md-9">
            <div class="col-md-2 col-md-offset-1">
                <h3>MAIN</h3>
                <p><a href="/en/ogf/topics/">Topics</a></p>
                <p><a href="/en/ogf/people/">People</a></p>
                <p><a href="/en/ogf/peer-reviewed-papers/">Papers</a></p>
                <p><a href="/en/ogf/issues/">Archive</a></p>
            </div>
            <div class="col-md-3">
                <h3>DEPARTMENTS</h3>
                <p><a href="/en/ogf/pfc-director/">From the PFC Technical Director</a></p>
                <p><a href="/en/ogf/culture-matters/">Culture Matters</a></p>
                <p><a href="/en/ogf/global-market-trends/">Global Market Trends</a></p>
                <p><a href="/en/ogf/pfc-roundup/">PFC Roundup</a></p>
                <p><a href="/en/ogf/technology-marketplace/">Technology Marketplace</a></p>
{#                <p><a>Calendar</a></p>#}
                <p><a href="/en/ogf/peer-reviewed-papers/">Peer-Reviewed Papers</a></p>
            </div>
            <div class="col-md-3">
                <h3>UTILITY</h3>
                <p><a href="/en/ogf/about-ogf/">About</a></p>
                <p><a href="http://www.spe.org/contact/">Contact</a></p>
                <p><a href="https://www.spe.org/en/ogf/advertise">Advertise</a></p>
            </div>
            <div class="col-md-3">
                <h3>SPE</h3>
                <p><a href="http://www.spe.org/">SPE</a></p>
                <p><a href="http://www.spe.org/jpt/">JPT</a></p>
                <p><a href="/en/ogf/ogf-main-page/">OGF</a></p>
                <p><a href="http://www.spe.org/publications/journals.php">Journals</a></p>
                <p><a href="http://www.spe.org/hsenow/">HSE Now</a></p>
                <p><a href="/en/twa/twa-main-page/">The Way Ahead</a></p>
            </div>
        </div>
    </div>
    <div class="footerLower dontPrintMe">
        <a href="http://www.spe.org/"><img src="{% static 'ogf/img/spe-logo-icon.svg' %}"/></a>
        <ul class="footerSPEMenu">
            <li><a href="http://www.spe.org/members/">MEMBERSHIP</a></li>
            <li><a href="http://www.spe.org/events/about-events.php">EVENTS</a></li>
            <li><a href="http://www.spe.org/publications/">PUBLICATIONS</a></li>
            <li><a href="http://www.spe.org/training/">TRAINING</a></li>
            <li><a href="http://www.spe.org/industry/">RESOURCES</a></li>
        </ul>
    </div>
    <!-- FOOTER END -->
        <!-- div id="testmessage">REPLACE THIS</div -->

    {% include 'include_hide_ads.html' %}
