{% load cms_tags sekizai_tags %}

{% addtoblock "js" %}
    <script type="text/javascript" charset="utf-8">
        $( document ).ready(function() {

            if ($("#adLeaderboard").find("img").length > 0) {
                //do something
            } else {
                // do something else
                $("#adZone1").hide(0);
            }

            //if ($("#adZone2").find("img").length > 0) {
                //do something
            //} else {
                // do something else
            //    $("#adRow2").hide(0);
            //}

            if ($(".adZone2").find("img").length > 0) {
                //do something
            } else {
                // do something else
                $(".adZone2").hide(0);
            }

        });
    </script>
{%  endaddtoblock %}