{% extends "generic_base.html" %}
{% load cms_tags sekizai_tags %}
{% load menu_tags %}

{% block web_fonts %}

    {{ block.super }}
    <script src="https://use.typekit.net/xwk3nys.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
{#    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>#}
{#    <link href='https://fonts.googleapis.com/css?family=Bitter:700,400' rel='stylesheet' type='text/css'>#}
{#    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>#}

{% endblock web_fonts %}

{% block css_base %}
    {% with css_template="include_jpt_css.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock css_base %}

{% block wrap_begin %}<div class="container-fluid">{% endblock wrap_begin %}

{% block content_header %}
    <div class="row adZone1" id="adZone1">
        <div class="col-md-12 text-center" id="adLeaderboard">
            {% placeholder "ad zone 1" %}
        </div>
    </div>


    {% with header_template="include_jpt_header.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock content_header %}

{% block wrap_end %}</div><!-- CONTAINER END -->{% endblock wrap_end %}

{% block content_footer %}
    {% with footer_template="include_jpt_footer.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock content_footer %}
{##}
{#{% addtoblock "js" %}#}
{#    <!-- **** -->#}
{#    <script type="text/javascript" charset="utf-8">#}
{#        $( document ).ready(function() {#}
{#            $('.tile-white img').addClass('img-responsive');#}
{#        });#}
{#    </script>#}
{#{%  endaddtoblock %}#}