{% extends "html5_bootstrap.html" %}
{% load cms_tags sekizai_tags %}
{% load menu_tags %}

{% block web_fonts %}

    {% include 'include_scripts.html' %}

    {{ block.super }}
    <script src="https://use.typekit.net/xwk3nys.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

{% endblock web_fonts %}

{% block css_base %}
    {% load staticfiles %}
    <!-- CSS_BASE -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'ogf/css/mainstyle.css' %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'ogf/css/printstyles.css' %}" />
{% endblock css_base %}

{% block wrap_begin %}<div class="container-fluid">{% endblock wrap_begin %}

{% block content_header %}
    <!-- HEADER Begin -->
        <div class="row adZone1" id="adZone1">
            <div class="col-md-12 text-center" id="adLeaderboard">
                {% placeholder "ad zone 1" %}
            </div>
        </div>

        <!-- topbar -->
        {% include 'include_topbar.html' %}

        <div class="row dontPrintMe" id="menubar">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-offset-1" id="mainLogo">
                <a href="/en/ogf/ogf-main-page/"><img src="{% static 'ogf/img/ogf-logo-horizontal.svg' %}" class="img-responsive"></a>
            </div>
            <div class="col-md-8 col-lg-7 text-right">
                <ul class="pubMenu">
                    {% show_menu 1 100 0 1 %}
                    <li class="searchIcon"><a role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row searchbar collapse dontPrintMe" id="collapseSearch">
            <div class="col-sm-12 text-right">
                <form class="form-inline" action="/sitemap/search.php" method="post" accept-charset="utf-8">
                    <div class="input-group">
                        <input class="form-control" type="search" name="q" id="gssTextInput" placeholder="Search"/>
                        <input type="hidden" id="gssscope" name="scope" value="ogf"/>
                        <!-- sas comment -->
                        <span class="input-group-btn">
{#                            <button class="btn btn-default" type="button">Go!</button>#}
                            <input class="btn btn-default" type="submit" name="submit" value="Go!" id="gssSubmitButton"/>
                        </span>
                    </div>
                </form>
            </div>
        </div>

{#    {% addtoblock "js" %}#}
{#        <script type="text/javascript" charset="utf-8">#}
{#            $( document ).ready(function() {#}
{##}
{#                // Add JQuery Here#}
{#                console.log("JD WUZ HEER!");#}
{##}
{#            });#}
{#        </script>#}
{#    {%  endaddtoblock %}#}
    <!-- HEADER END -->

{% endblock content_header %}



{% block wrap_end %}</div><!-- CONTAINER END -->{% endblock wrap_end %}

{% block content_footer %}
    <!-- FOOTER Begin -->
    <div class="footerUpper row dontPrintMe">
        <div class="footerULeft col-md-3">
            <img src="{% static 'ogf/img/ogf-logo-horizontal.svg' %}" class="footerLogo">
            <ul class="footerSocial">
                <li><a href="https://www.facebook.com/spemembers" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/SPEtweets" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/groups/57660/profile"><i class="fa fa-linkedin" target="_blank"></i></a></li>
                <li><a href="https://www.youtube.com/user/2012SPE"><i class="fa fa-youtube-play" target="_blank"></i></a></li>
            </ul>
            <p class="copyright">&copy;2003-2016 Society of Petroleum Engineers, All Rights Reserved.</p>
        </div>
        <div class="footerURight col-md-9">
            <div class="col-md-2 col-md-offset-1">
                <h3>MAIN</h3>
                <p><a href="/en/ogf/topics/">Topics</a></p>
                <p><a href="/en/ogf/people/">People</a></p>
                <p><a href="/en/ogf/peer-reviewed-papers/">Papers</a></p>
                <p><a href="/en/ogf/issues/">Archive</a></p>
            </div>
            <div class="col-md-3">
                <h3>DEPARTMENTS</h3>
                <p><a href="/en/ogf/pfc-director/">From the PFC Technical Director</a></p>
                <p><a href="/en/ogf/culture-matters/">Culture Matters</a></p>
                <p><a href="/en/ogf/global-market-trends/">Global Market Trends</a></p>
                <p><a href="/en/ogf/pfc-roundup/">PFC Roundup</a></p>
                <p><a href="/en/ogf/technology-marketplace/">Technology Marketplace</a></p>
{#                <p><a>Calendar</a></p>#}
                <p><a href="/en/ogf/peer-reviewed-papers/">Peer-Reviewed Papers</a></p>
            </div>
            <div class="col-md-3">
                <h3>UTILITY</h3>
                <p><a href="/en/ogf/about-ogf/">About</a></p>
                <p><a href="http://www.spe.org/contact/">Contact</a></p>
                <p><a href="http://www.spe.org/publications/subscribe.php">Subscribe</a></p>
                <p><a href="http://www.spe.org/sales/publications.php">Advertise</a></p>
            </div>
            <div class="col-md-3">
                <h3>SPE</h3>
                <p><a href="http://www.spe.org/">SPE</a></p>
                <p><a href="http://www.spe.org/jpt/">JPT</a></p>
                <p><a href="/en/ogf/ogf-main-page/">OGF</a></p>
                <p><a href="http://www.spe.org/publications/journals.php">Journals</a></p>
                <p><a href="http://www.spe.org/hsenow/">HSE Now</a></p>
                <p><a href="/en/twa/twa-main-page/">The Way Ahead</a></p>
            </div>
        </div>
    </div>
    <div class="footerLower dontPrintMe">
        <a href="http://www.spe.org/"><img src="{% static 'ogf/img/spe-logo-icon.svg' %}"/></a>
        <ul class="footerSPEMenu">
            <li><a href="http://www.spe.org/members/">MEMBERSHIP</a></li>
            <li><a href="http://www.spe.org/events/about-events.php">EVENTS</a></li>
            <li><a href="http://www.spe.org/publications/">PUBLICATIONS</a></li>
            <li><a href="http://www.spe.org/training/">TRAINING</a></li>
            <li><a href="http://www.spe.org/industry/">RESOURCES</a></li>
        </ul>
    </div>
    <!-- FOOTER END -->
        <!-- div id="testmessage">REPLACE THIS</div -->

    {% include 'include_hide_ads.html' %}


{% endblock content_footer %}



