{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <h3>Testing the context</h3>
    <hr>
    <h4>variables</h4>
    Debug: {{ variables.DEBUG }}<br>
    Environment: {{ variables.ENVIRONMENT }}<br>

    <h4>cookies</h4>
{#    _ga: {{ cookies["_ga"] }}<br>#}
    test: {{ cookies.test }}<br>
    sessionid: {{ cookies.sessionid }}<br>

    <h4>login</h4>
    authenticated: {{ login.authenticated }}<br>
    command: {{ login.command }}<br>
    label: {{ login.label }}<br>
    url: {{ login.url }}<br>
    target: {{ login.target_url }}

    <h4>visitor</h4>
    name: {{ visitor.name }}<br>
    is_sudent: {{ visitor.is_student }}<br>
    is_staff: {{ visitor.is_staff }}<br>
    email: {{ visitor.email }}<br>
    is_superuser {{ visitor.is_superuser }}
    is_active {{ visitor.is_active }}


    {% placeholder "content" %}
{% endblock content %}
