{% extends "twa_base.html" %}
{% load cms_tags sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="row topArea content-area padZero">
                <div class="col-xs-12">
                    {% placeholder "title area" %}
                </div>
            </div>
            <div class="row content-area padZero">

                <div class="col-xs-12 col-sm-8 featurecol">
                    {% placeholder "feature" %}
                </div>
                <div class="col-xs-12 col-sm-4 editorialcol">
                    {% placeholder "editorial" %}
                </div>

                <div class="col-xs-12 adZone2 text-center" id="adZone2">
                    {% placeholder "ad zone 2" %}
                </div>

            </div>
            <div class="row content-area">
                <div class="col-sm-12 areaContent">
                    {% placeholder "notice" %}
                    {% placeholder "page title" %}
                    {% placeholder "content" %}
                </div>
            </div>
        </div>
    </div>

    {% include 'include_hide_ads.html' %}

{% endblock content %}
