{% extends "html5_bootstrap.html" %}
{% load cms_tags sekizai_tags %}
{% load menu_tags %}

{% block web_fonts %}

    {% include 'include_scripts.html' %}

    {{ block.super }}
    <script src="https://use.typekit.net/xwk3nys.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

{% endblock web_fonts %}

{% block css_base %}
    {% load staticfiles %}
    <!-- CSS_BASE -->
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'twa/css/mainstyle.css' %}" />
{% endblock css_base %}

{% block wrap_begin %}<div class="container">{% endblock wrap_begin %}

{% block content_header %}
    <!-- HEADER Begin -->
        <div class="row adZone1" id="adZone1">
            <div class="col-md-12 text-center" id="adLeaderboard">
                {% placeholder "ad zone 1" %}
            </div>
        </div>

        <div class="row dontPrintMe" id="topbar">
            <div class="col-sm-6 topbarcol">
                <ul class="topbarmenuleft">
                    <li><a href="http://www.spe.org/">SPE</a></li>
                    <li><a href="/jpt/">JPT</a></li>
                    <li><a href="/ogf/" class="yellow">OGF</a></li>
                    <li><a href="/hse/">HSE Now</a></li>
                    <li><a href="/twa/">The WAY Ahead</a></li>
                </ul>
            </div>
            <div class="col-sm-4 text-right topbarcol">
                <ul class="topbarmenuright">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-2 text-center topbarcol" id="signin">
                {% if login.url %}
                <li><a href="{{ login.url }}" id="global_login" class="loginLink"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ login.label }}</a></li>
                {% endif %}
            </div>

        </div>

        <div class="row dontPrintMe" id="menubar">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-offset-1" id="mainLogo">
                <a href="/"><img src="{% static 'twa/img/twa_logo.svg' %}" class="img-responsive"></a>
            </div>
            <div class="col-md-8 col-lg-7 text-right">
                <ul class="pubMenu">
                    {% show_menu 1 100 0 1 %}
                    <li class="searchIcon"><a role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="row searchbar collapse dontPrintMe" id="collapseSearch">
            <div class="col-sm-12 text-right">
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    <!-- HEADER END -->

{% endblock content_header %}

{% block wrap_end %}</div><!-- CONTAINER END -->{% endblock wrap_end %}

{% block content_footer %}
    <!-- FOOTER Begin -->
    <div class="footerUpper row dontPrintMe">
        <div class="footerULeft col-md-3">
            <img src="{% static 'ogf/img/ogf-logo-horizontal.svg' %}" class="footerLogo">
            <ul class="footerSocial">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
            </ul>
            <p class="copyright">&copy;2003-2016 Society of Petroleum Engineers, All Rights Reserved.</p>
        </div>
        <div class="footerURight col-md-9">
            <div class="col-md-2 col-md-offset-1">
                <h3>MAIN</h3>
                <p><a href="/ogf/topics/">Topics</a></p>
                <p><a href="/ogf/people/">People</a></p>
                <p><a href="/ogf/peer-reviewed-papers/">Papers</a></p>
                <p><a href="/ogf/issues/">Archive</a></p>
            </div>
            <div class="col-md-3">
                <h3>DEPARTMENTS</h3>
                <p><a href="/ogf/pfc-director/">From the PFC Technical Director</a></p>
                <p><a href="/ogf/culture-matters/">Culture Matters</a></p>
                <p><a href="/ogf/global-market-trends/">Global Market Trends</a></p>
                <p><a href="/ogf/pfc-roundup/">PFC Roundup</a></p>
                <p><a href="/ogf/technology-marketplace/">Technology Marketplace</a></p>
{#                <p><a>Calendar</a></p>#}
                <p><a href="/ogf/peer-reviewed-papers/">Peer-Reviewed Papers</a></p>
            </div>
            <div class="col-md-3">
                <h3>UTILITY</h3>
                <p><a href="/ogf/about-ogf/">About</a></p>
                <p><a href="http://www.spe.org/contact/">Contact</a></p>
                <p><a href="http://www.spe.org/publications/subscribe.php">Subscribe</a></p>
                <p><a href="http://www.spe.org/sales/publications.php">Advertise</a></p>
            </div>
            <div class="col-md-3">
                <h3>SPE</h3>
                <p><a href="http://www.spe.org/">SPE</a></p>
                <p><a>JPT</a></p>
                <p><a href="/ogf/ogf-main-page/">OGF</a></p>
                <p><a>SPE Journals</a></p>
                <p><a>HSE Now</a></p>
            </div>
        </div>
    </div>
    <div class="footerLower dontPrintMe">
        <a href="http://www.spe.org/"><img src="{% static 'ogf/img/spe-logo-icon.svg' %}"/></a>
        <ul class="footerSPEMenu">
            <li><a href="http://www.spe.org/members/">MEMBERSHIP</a></li>
            <li><a href="http://www.spe.org/events/about-events.php">EVENTS</a></li>
            <li><a href="http://www.spe.org/publications/">PUBLICATIONS</a></li>
            <li><a href="http://www.spe.org/training/">TRAINING</a></li>
            <li><a href="http://www.spe.org/industry/">RESOURCES</a></li>
        </ul>
    </div>
    <!-- FOOTER END -->
        <!-- div id="testmessage">REPLACE THIS</div -->

    {% include 'include_hide_ads.html' %}


{% endblock content_footer %}



