/* =================================================================== */
/* MAIN CONTENT STYLES FOR jpt
====================================================================== */
@import 'vars';

.bordhsegreen, #bordhsegreen {
  //border: 4px solid $col-hsegreen;
}
.bordhseforestgreen, #bordhseforestgreen {
  //border: 4px solid $col-hseforestgrn;
}
.bordhseblue, #bordhseblue {
  //border: 4px solid $col-hseblue;
}
.bordhsepurple, #bordhsepurple {
  //border: 4px solid $col-hsepurple;
}
.bordhserouge, #bordhserouge {
  //border: 4px solid $col-hserouge;
}
.bordhseorange, #bordhseorange {
  //border: 4px solid $col-hseorange;
}



.content-area {
  padding:          0 15px;
}

.page-content {
  margin-top:       25px;
  //border-top:       1px solid $col-hsebluedrk;
}

/* ********************************** */
/* SUPER FEATURE & POPULAR NOW */
.featurePop {
  margin-top:     30px;
}
#superFeatured {
  min-height:500px;
  -webkit-background-size:cover;
  background-size:cover;
  text-align:center;

  h1, p {
    color:$col-white;
  }
}
.featured {
  padding:0 20px 0 0;
}
.featuredArea {
  background-color: $col-hsebluedrk;
  padding:  30px 0 10px 0;
}
.superFBack {
  //border:1px solid white;
  position:absolute;
  bottom:0;
  padding: 20px 15%;
}
#popularNow {
  min-height:500px;
  background-color: $col-black;
  padding:25px 30px;
  color:$col-white;

  h2 {
    font-size:17px;
    font-weight:$font-bold;
    padding-bottom:10px;
    border-bottom:1px dotted $col-white;
  }
  .popTitle {
    font-size:15px;
    font-weight: $font-bold;
    margin:0;
  }

}
.popList {
  border-bottom:1px dotted $col-white;
}
.popCat {
  a {
    color: $col-bluehover;
    text-decoration: none;
    font-weight:$font-bold;

    &:hover {
      color: $col-yellow;
    }
  }
  i {
    font-size:20px;
  }
}
.popCat2 {
  a {
    color: $col-yellow;
    text-decoration: none;
    font-weight:$font-bold;

    &:hover {
      color: $col-bluehover;
    }
  }
  i {
    font-size:20px;
  }
}
.popAuthorBox {
  margin-top:10px;

  a {
    color:$col-yellow;

    &:hover {
      color:$col-bluehover;
      text-decoration: none;
    }
  }

}
.authPic {
  padding:0;
}
.spacerBar {
  padding:0 15px;
}



/* ********************************** */
/* ROW WITH SIDE BAR */
.sideBarRow {
  border-top: $blockDivider;
  margin-left:0;
  margin-right:0;
}
.currentIssue, .newsletterBox {
  min-width:300px;
}
.regionBox {
  background-color: $col-lightgrey2;
  padding:0;
  margin-bottom:20px;
}
.cIssueThmb {
  padding:0 10px 0 0;
  margin:0 0 0 0;
}

.formBox {
  background-color: $col-lightgrey2;
  padding:20px;

  input {
    margin-bottom:10px;
  }
}
.sideAds {
  margin:20px 0;
  padding:20px 0 0 0;
}
.sideAd {
  margin:0 0 20px 0;
  padding:0;

  img {
    margin:auto;
  }
}

/* ********************************** */
/* BUTTONS */
.sqBtnRed, .sqBtnBlack {
  color:$col-white;
  margin-top:10px;
  margin-bottom:10px;
}
.sqBtnRed {
  background-color: $col-blue;
}
.sqBtnBlack {
  background-color: $col-black;
}
#btnSponsored {
  color:black;
  //margin:10px auto;
  //margin-bottom:10px;
  background-color:$col-sponsoryellow;
}


/* ********************************** */
/* CHANNEL ROWS */
.channelBlockRow {
  border-top: $blockDivider;
  margin-top: 20px;
}
.channelsList {
  padding:0;
  font-family:$font-titles;
  font-weight:$font-bold;
  font-size:12px;

  ul {
    list-style: none;
    padding:0;
    border-top: 7px solid $col-brightred;
    background-color: $col-lightgrey;

    li {
      padding:10px 0 10px 10px;
      border-bottom: $dotted;

      //&:first-child {
      //  color:$col-brightred;
      //}

      &:last-child {
        border-bottom:none;
      }

      &:hover {
        color: $col-brightred;
        background-color: $col-notsolightgrey;
      }
    }
  }
}
.articleGroup {

  div:nth-child(even) {
    //-moz-box-sizing:    border-box;
    //-webkit-box-sizing: border-box;
    //box-sizing:        border-box;
    //border-left: $dotted;
  }
}
.articleBox {
  border-bottom: $dotted;
  padding:0 20px 15px 0;
  //-moz-box-sizing:    border-box;
  //-webkit-box-sizing: border-box;
  //box-sizing:        border-box;
}
.articleListItem {
  border-bottom:$dotted;
  margin-bottom:10px;

  h4 {
    padding-top:0;
    margin-top:0;
  }
}
.fboxTitle {
  margin:0;
}
.techFocusBox, .columnBox {
  padding:0 10px 0 0;
}

/* ********************************** */
/* SPONSORED BLOCK */
#sponsoredProfile {
  min-height:400px;
  -webkit-background-size:cover;
  background-size:cover;
  text-align:center;

  h1, p {
    color:$col-white;
  }
}
.sponsoredFBack {
  position:absolute;
  bottom:0;
  padding: 20px 15%;
}


.peopleFocus {
  background-color: $col-notsolightgrey;
  padding:15px;

  img {
    float:left;
    margin-right: 15px;
  }

}
.personName {
  font-family:$font-titles;
  font-size:16px;
  font-weight:$font-bold;
  padding-top:10px;
}
.personDets {
  font-size:11px;
}
.boxTitleBig {
  font-size:20px;
  padding-top:20px !important;
}



#departmentsRow {
  background-color: $col-brightred;
  color: $col-white;
  margin-top: 20px;
  padding:3px 10px 0 0;

  h3 {
    font-size:15px;
    margin:0;
    padding:5px;
  }
  a {color:$col-white;}
}
#deptsTitle {
  float:left;
  width:60%;
}
#deptDownArrow {
  float: right;
  width:35%;
  font-size:20px;
  cursor: pointer;
}
#departmentsSlide {
  background-color: $col-notsolightgrey;
  padding:5px;
  //height:30px;
}
.departmentsList {
  list-style-type: none;
  padding:0;

  li{
    float: left;
    margin: 20px;

    h3 {
      font-size:13px;
      margin:0;
    }

    a {
      color:black;
      text-decoration: none;

      &:hover {
        color:$col-white;
      }
    }
  }
}

#latestArticlesList {
  padding:0;
  margin:0;
}
.latestArticleBlurb {
  border-top:$dotted;
  margin:20px 0 0 0;
  padding:20px 0 0 0;
}

.articleThumb {
  margin:0;
  padding:0 15px 0 0;
}
.articleDataLine {
  border-top:$dotted;
  padding:10px;
}
.articleData {
  list-style-type: none;
  padding:0;
  font-size:12px;
  font-weight:$font-bold;

  li {
    float: left;
    margin: 5px;

    a {
      color: $col-brightred;
      text-decoration: none;

      &:hover {
        color:black;
      }
    }
  }

  .authorName {
    color: $col-brightred;
  }

}

.articleSocialShares {
  border-top:$dotted;
  list-style-type: none;
  padding:0;
  font-size:25px;
  font-weight:$font-bold;

  li {
    float: left;
    margin: 5px;

    a {
      text-decoration: none;

      &:hover {
        color: $col-brightred;
      }
    }
  }

  .fbShare {color:$col-fbShare;}
  .twitShare {color:$col-twitShare;}
  .lInShare {color:$col-lInShare;}
  .emailShare {color: $col-black;}
  .prntShare {color: $col-black;}

}

.articleBody {
  margin:0;
  padding:25px 20px 0 0;
}
.articleMainImg {
  padding:0;
  margin:0;
}
.imgCaption {
  font-size:10px;
  padding:10px 0 0 0;
  margin:0;
}
.articleText {
  padding-bottom:30px;
}
.previewBlock {
  background-color: $col-notsolightgrey;

  .gainAccessBtn {
    background-color: $col-brightred;
    margin:20px auto 30px;
    padding:10px;
    width:60%;
    color:$col-white;
  }
}

.floatLeftImg {
  float:left;
  margin:5px 20px 10px 0;
  width:50%;
  height:auto;
}

.floatRightImg {
  float:right;
  margin:5px 0 10px 20px;
  width:50%;
  height:auto;
}
.fullWidthImg {
  width:100%;
  height:auto;
}
.quote {
  color: $col-brightred;

  i {
    color: $col-black;
  }
}
.relatedArticlesBlock {
  border-top: $blockDivider;
  margin-top:25px;
  //background-color: hotpink;
}
.socialBottom {
  margin-bottom:30px;
}
.breadCrumbs {
  list-style-type: none;
  padding:0;
  font-size:12px;
  //font-weight:$font-bold;

  li {
    float: left;
    margin: 5px;

    a {
      text-decoration: none;
      color: $col-brightred;

      &:hover {
        color:$col-basegrey;
      }
    }
  }
}

.prevYearBtn {
  background-color:$col-lightgrey;
  margin:20px 0;
  padding:20px;
  font-size:25px;
  font-weight: $font-bold;

  a {
    color:$col-bluehover;

    &:hover {
      color:$col-blue;
      text-decoration:none;
    }
  }
}

.featurecol, .areaContent, .areaRightSide {
  padding:0;
}
.featurecol {
  //overflow: hidden;
}
.areaContent {
  padding-right:15px;
}
.issuebar, .issueItem {
  cursor: pointer;
  &:hover {
    background-color: $col-notsolightgrey;
  }
}
.issueItem {
  padding:15px;

  .issueLink {
    color: $col-black;
    font-weight:$font-bold;

    .issueDate {
      font-size:15px;
      margin: 5px 0 0 0;
    }
  }
}
.panel-default, .panel, .panel-collapse, .panel-group {
  border:none;
}
.article-topics, .article-tags {
  background-color:   $col-hsegreylt;
  padding:            10px;
  font-size:          12px;
  //margin-bottom:      15px;
  //margin-top:         15px;
  margin:             15px;

  h4 {
    margin:           0 0 5px 0;
    padding-bottom:   5px;
    color:            $col-white;
    //border-bottom:    1px dotted $col-basegrey;
  }
  ul {
    list-style:       none;
    padding:          0;
    margin:           0;

    li {
      //float:          left;
      display:              inline-block;
      list-style-position:  inside;
      margin:               0 15px 0 0;
      padding:              0;

      &:hover {
        background-color: $col-basegrey;
        color:            $col-white;
      }

      a {
        padding:          5px;
        font-weight:      $font-bold;
      }
      a:hover {
        background-color: $col-basegrey;
        color:            $col-white;
      }
    }
  }
}
.relatedArticle {
  color:                $col-black;
}
.articlePicture {
  margin-bottom:        15px;
}
.articleBodyText img {
  margin:               10px;
}

.topicListBox, .topicListColumnL, .topicListColumnR, .topicListColumnOne {
  padding:              0 !important;
}
.topicListBox {
  background-color:     $col-lightgrey2;
  border-top:           5px solid $col-hsepurple;

  .topicListItem {
    border:             1px dotted $col-boxshadow;
    padding:            5px;

    &:hover {
      background-color: $col-notsolightgrey;
    }

    p {
      margin:           0;
    }

  }
}
.topicListItem3 {
  border:             1px dotted $col-boxshadow;
  padding:            5px;
  display:            inline-block;
  width:              32%;
}