{% extends base_template %}
{% load cms_tags sekizai_tags %}

{% block content %}
    <div class="row adRow2" id="adRow2">
        <div class="col-xs-12 adZone2 text-center" id="adZone2">
            <!-- AdSpeed.com Tag 8.0.2 for [Zone] OGF 2 1160x60 [Any Dimension] -->
            <script type="text/javascript" src="://g.adspeed.net/ad.php?do=js&zid=79086&oid=7699&wd=-1&ht=-1&target=_blank"></script>
            <!-- AdSpeed.com End -->
        </div>
    </div>
    <div class="row content-area articleContent">
        <div class="col-sm-8 col-lg-7 col-lg-offset-1 areaContent">
            <h2>{{ article.id }}: {{ article.title }}</h2>

        {% if article.picture and article.picture.url %}
            <img src={{article.picture.url}} class="img-rounded" alt={{article.alternate}} width="600" height="400">
        {% endif %}

            <h2>by: {{ article.author }}</h2>
            <h3>{{ article.date }}</h3>
            {{ article.article_text | safe }}
        </div>
        <div class="col-sm-4 col-lg-3 areaRightSide">

            <div class="row">
                <hr class="tiletitlehr">
                <h2 class="tiletitles">CURRENT ISSUE</h2>
            </div>

            {% if article.publication.code != "WWW" %}
                {% include "spe_blog/plugins/issue_sidebar.html" %}
            {% endif %}
        </div>
    </div>

{% endblock %}