<!-- todo: add more items here we want to gain easy access to -->
<a href="/staff/dashboard/">Dashboard</a><br>
<a href="/staff/articles/">Article Admin</a><br>
<a href="/staff/briefs/">Brief Admin</a><br>
<a href="/staff/promotions/timeline/">Promotions: Timeline View</a><br>
<a href="/staff/promotions/discipline/">Promotions: Disciplines View</a><br>
<a href="/staff/promotions/region/">Promotions: Regional View</a><br>
<a href="/staff/promotions/event_type/">Promotions: View by Event Type</a><br>

