/* =================================================================== */
/* FOOTER
====================================================================== */
@import 'vars';

#spe-footer {
  background-color:$col-footgrey;padding:25px 0;width:100%;

  ul, li { margin:0;padding:0; }
  li {
    white-space:nowrap;display:inline-block;
    a {
      text-decoration:none;display:block;font-weight:600;color:$col-steelgrey;-webkit-transition: color 0.3s ease-in-out;-moz-transition: color 0.3s ease-in-out;-o-transition: color 0.3s ease-in-out;transition: color 0.3s ease-in-out;
      &:hover { color:$col-white;-webkit-transition: color 0.2s ease-in-out;-moz-transition: color 0.2s ease-in-out;-o-transition: color 0.2s ease-in-out;transition: color 0.2s ease-in-out; }
    }
  }
}

.footleft, .footright {
  text-align: center;
}
#text-links, #legal-links {
  li, #legal-links li { margin:0 2em 0 0; }
}
#text-links li { text-transform:uppercase;font-size:17px;line-height:1.5em; }
#legal-links { margin:.5em 0 0 0; }

.copyright, #legal-links li { font-size:14px; }
.copyright { float:left;width:100%;margin:28px 0 0 0;clear:both;border-top:1px solid $col-copygrey;padding-top:4px;color:$col-darkgrey; }

#social-media-links {
  //min-width: 420px;

  ul {
    //float:right;
  }
  li a {
    margin:0 1em 0 0;width:50px;height:50px;float:left;
    &.last {margin-right:0;}
  }

  #facebook {
    background-position:0 -448px;
    &:hover {background-position:-50px -448px;}
  }
  #twitter {
    background-position:0 -498px;
    &:hover {background-position:-50px -498px;}
  }
  #linkedin {
    background-position:0 -548px;
    &:hover {background-position:-50px -548px;}
  }
  #youtube {
    background-position:0 -598px;
    &:hover {background-position:-50px -598px;}
  }
  #instagram {
    background-position:0 -648px;
    &:hover {background-position:-50px -648px;}
  }
  #connect {
    background-position:0 -698px;
    &:hover {background-position:-50px -698px;}
  }
}
.footspace {
  height:20px;
}

/* *************************************** */
/* *************************************** */
