.gsc-search-box {
  //width: 235px;
}
.gsc-control-cse div {
    position: static;
    width: 215px !important;
}
.gsc-input {
  //width: 203px !important;
  height: 32px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #e0e4eb !important;
}
.gsc-input-box {
  border: none !important;
  background: none !important;
  height: 32px !important;
  padding: 0 !important;
  margin: 0 !important;
}
.gsc-input-box table, .gsc-input-box table td {
  border: none !important;
  background: none !important;
  height: 32px !important;
  padding: 0 !important;
  margin: 0 !important;
}
.gsc-search-button {
  //width: 32px !important;
  //height: 32px !important;
  margin: 0 !important;
  padding: 3px !important;
  background-color: #e0e4eb !important;

  input {
    //width: 32px !important;
    //height: 32px !important;
    color:  #23406c !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}