/* =================================================================== */
/* HEADER
====================================================================== */
@import 'vars';

#spe-header {
    //min-height: 190px;
    border-bottom: 4px solid $col-lightgrey;
}
#logo, #global-nav li a.loginLink span, #search .GoogleSiteSearch #gssSubmitButton, .link-icon, #social-media-links li a, #mobile-nav .clickToggle span {
    background: url($img-logosprite) no-repeat;
}
.link-text {
    width:80%;
    float:right;
}
.link-icon {
    float:left;
    width:17%;
    margin-right: 3px;

    &.events-calendar {
        background-position: 0 -57px;
        height: 30px;
    }
    &.training-courses {
        background-position: 0 -87px;
        height: 30px;
    }
    &.web-events {
        background-position: 0 -117px;
        height: 15px;
    }
    &.distinguished-lect {
        background-position: 0 -132px;
        height: 35px;
    }
    &.jpt {
        background-position: 0 -167px;
        height: 18px;
    }
    &.ogf {
        background-position: 0 -185px;
        height: 26px;
    }
    &.peer {
        background-position: 0 -211px;
        height: 33px;
    }
    &.hse {
        background-position: 0 -244px;
        height: 35px;
    }
    &.calendar {
        background-position: 0 -279px;
        height: 33px;
    }
    &.onepetro {
        background-position: 0 -312px;
        height: 24px;
    }
    &.petrowiki {
        background-position: 0 -336px;
        height: 35px;
    }
    &.energy4me {
        background-position: 0 -371px;
        height: 47px;
    }
    &.connect {
        background-position: 0 -418px;
        height: 30px;
    }
}
.link-summary {
    font-size: 13px;
    color: $col-medgrey;
    clear:left;
}
.publist a {
    height:50px;
}
.pubs {
    padding-top:0 !important;
}

/* GLOBAL NAV */
.global-nav {
    min-height: 31px;
    border-bottom: 1px solid $col-black;
    background-color: $col-suprdrkblue;
    margin: 0;

    ul {
        margin: 0;
        padding: 0 0 0 15px;
        list-style: none;

        li {
            float: left;
            white-space: nowrap;
            margin: 0;
            line-height: 18px;

            a {
                display: block;
                text-decoration: none;
                font-size: 12px;
                font-weight: 700;
                line-height: 30px;
                color: $col-lightgrey;
                padding: 0 14px;
                margin: 0 8px 0 0;

                &:hover { color:$col-white;background-color:$col-black; }
            }
        }

        li:first-child a {
            margin-left: -14px;
        }
    }

    //#global-nav {
    //    padding: 0;
    //}
}
#translate-widget {
    float: right;
}
.goog-te-gadget-simple {
    background-color: transparent !important;
    border: none !important;
    padding: 4px 12px !important;
}
.goog-te-gadget, .goog-te-gadget-simple .goog-te-menu-value {
    color: $col-steelgrey !important;
    font-size: 11px !important;
    font-weight: 700 !important;
}
.goog-te-menu-value:hover {
    text-decoration: none;
}
/* END GLOBAL NAV */
/* *************************************** */
/* LOGO + SEARCH (White Bar) */
/* *************************************** */

#branding {
  min-height:100px;
  background-color:$col-white;
}
.logo-wrap {
    padding:20px 0 0 20px;
    //margin-left: 20px;
    //img {
    //    max-width: 335px;
    //}
}
.spe-logo { display:block;margin:21px 0 0 10px; }
#logo {
  text-indent:-9999px;
  background-position: 0 0;
  //height:57px;
  //width:413px;
}
.welcomemsg {
  padding:35px 30px 0 0;
  font-size: .8em;
  text-align: right;
  line-height: 1;
  font-weight: 600;
}
/* Search */
#search { float:right;margin:33px 0 30px 0; }
#search select { display:none; } /* Not displaying select box in header search. Is displayed on SRP. */
#search .searchForm { width:235px;height:32px;margin:0;border-radius:5px;background-color:$col-lightgrey; }
#search .GoogleSiteSearch #gssTextInput { float:left;font-size:14px;border:none;-webkit-appearance:none;background:none;width:197px;margin:7px 0 0 0;height:20px;outline:none; }
#search .GoogleSiteSearch #gssSubmitButton { float:left;width:19px;height:17px;background-position:0 -812px;border:none;padding:0;margin:7px 0 0 10px; }
#search ::-webkit-input-placeholder { color: $col-lightgrey; }
#search :-moz-placeholder { color: $col-lightgrey; }
#search ::-moz-placeholder { color: $col-lightgrey; }
#search :-ms-input-placeholder { color: $col-lightgrey; }

.navbar-toggle {
    border:none;
}
/* *************************************** */
/* *************************************** */
