/* =================================================================== */
/* WWW TILES & BOXES                                                       */
/* =================================================================== */
@import 'vars';

.tile {
  background-color:     $col-white;
}

.tile, .tile-blue, .tile-lightblue, .tile-white, .tile-greenbar, .tile-alert, .tile-editorial {
  box-shadow:           0 1px 2px $col-boxshadow;
  margin-bottom:        20px;
  padding:              15px;
  min-width:            150px;
  z-index:              100;
  position:             relative;
}
.tile-alert {
  background-color:     $col-redtext;
  color:                $col-white;

  p {
    margin:             0;
  }
}
.tile-blue {
  background-color:     $col-speblue;
  color:                $col-white;

  a {
    color:              $col-textblue;
    &:hover {
      color:            $col-white;
    }
  }
}
.tile-lightblue {
  background-color:     $col-textblue;
  color:                $col-speblue;

  h3 {
    margin-top:         0;
  }
  a {
    color:              $col-speblue;
    &:hover {
      color:            $col-white;
    }
  }
}
.tileImgBack {
  box-shadow:               0 1px 2px $col-boxshadow;
  background-position:      center;
  -webkit-background-size:  cover;
  background-size:          cover;
  margin-bottom:            20px;
}
.tile-adspeed {
  margin-bottom:        20px;
  box-shadow:           0 1px 2px $col-boxshadow;
}


.tile-editorial {
  background-color:     $col-black;
  //padding:              15px;
  //margin-bottom:        15px;
  //overflow:             hidden;
  overflow-y:           auto;

  .title1, .title2, .excerpt, .authorBio {
    padding:            0;
  }
  .title1 {
    font-size:          13px;
    font-weight:        $font-bold;
    white-space:        nowrap;
  }
  .title2 {
    font-size:          20px;
    font-weight:        $font-bold;
  }
  .excerpt {
    font-size:          12px;
  }
  .dottedspacer {
    margin-bottom:      10px;
    border-bottom:      2px dotted $col-white;
    height:             10px;
  }
  .authorImg {
    padding:            0 5px 0 0;
    margin:             0;
  }
  .authorBio {
    font-size:          10px;
  }

}
.tile-editorial-fixed {
  height:               400px;
}
.tile-editorial-txtwht {
  color:                $col-white;
  a {
    color:              $col-white;
  }
}
.tile-editorial-txtblck {
  color:                $col-black;
  a {
    color:              $col-black;
  }
  .sideListDate {
    color:              $col-red;
  }
}
.sideListDate, .sideListDateTWA {
  color:                $col-speblue2;
  font-weight:          $font-light;
  font-size:            12px;
  padding:              5px 0 0 0;
}
.pipe {
  display: none;
}
.tile-greenbar {
    background-color:   $col-white;
      border-top: 4px solid $col-greenbar;
}
.tile-bluebar {
    background-color:   $col-white;
      border-top: 4px solid $col-speblue2;
}
.whiteFade {
  background:           $img-back-white-75 repeat top left fixed;
  height:               100%;
  width:                100%;
  padding:              10px;
}
.whiteback, .tile-white {
    background-color:   $col-white;
}
.link-box, .tile-links {
  border-top: 4px solid $col-speblue2;
  background-color:     $col-white;

  ul {
    margin:             0;
    list-style:         disc outside;
    padding:            0;

    & > :first-child {
      border-top:       1px solid $col-pagegrey;
      padding-top:      10px;
    }

    li {
      line-height:      18px;
      list-style-type:  none;
      padding:          0 0 10px 0;
      border-bottom:    1px solid $col-pagegrey;
      margin:           0 0 10px 0;
      letter-spacing:   .01rem;

      a {
        color:          $col-darkgrey;

        &:visited {
        outline:        0;
        text-decoration: none;
      }
      }
    }
  }
}
.story, .tile-textbelow {
  .story-wrap {

    .pub-date {
      color:            $col-speblue2;
      display:          block;
      text-transform:   uppercase;
      font-size:        12px;
      font-weight:      700;
      letter-spacing:   1px;
      padding-bottom:   10px;
    }

    h3 {
      color:            $col-black;
      font-weight:      700;
      line-height:      1.1;
      margin-bottom:    8px;
      margin-top:       0;
      letter-spacing:   -0.02em;
    }
    p {
      color:            $col-copygrey;
    }
  }
}
.poi-date {
  color:            $col-red;
  display:          block;
  text-transform:   uppercase;
  font-size:        10px !important;
  font-weight:      700;
  letter-spacing:   1px;
}
.featured-story {
  padding:              0;
  min-height:           360px;

  .story-wrap {
    height:             400px;
    color:              $col-white;
    background-size:    cover;
    position:           relative;

    .story-text {
      padding:          15px;
      background:       $img-back-black-50 repeat top left fixed;
      background-size:  100%;
      position:         absolute;
      bottom:           0;
      width:            100%;

      h2 {
        font-weight:    600;
      }
    }
  }
}

.story-text {
      //height:           175px;
      overflow:         hidden;
}
.subscribe-div {
  margin-top:           10px;
}
.tile-curntIssue {
  min-height:           150px;
  border-bottom:        1px dotted $col-black;

  //box-shadow:           0 1px 2px $col-boxshadow;
  margin-bottom:        20px;
  padding:              15px 0;

  a {
    color:              $col-black;
  }

  .issueThumb {
    min-height:         150px;
    padding:            0 10px 10px 0;
  }
  .pub-date, .volume, .number {
    font-weight:        $font-bold;
  }
  .pub-date {
    font-size:          20px;
    margin-bottom:      20px;
  }
  .btn {
    background-color:   $col-speblue;
    color:              $col-white;
  }

}
.tiletitlerow {
  z-index:              5000;
  position:             relative;
  text-align:           center;
}
.tiletitlehr {
  display:              none;
}
.tiletitles {
  color:                $col-white;
  background:           $col-bluegrey;
  font-size:            20px;
  padding:              10px;
  margin:               0 auto -30px auto;
  font-weight:          $font-bold;
  display:              inline-block;
}
.boxtitles {
  color:                $col-darkgrey;
  font-size:            25px;
  font-weight:          $font-bold;
  padding-bottom:       15px;
  margin-bottom:        15px;
  border-bottom:        1px dotted $col-darkgrey;
}

.tileDate {
  font-weight:          $font-bold;
  margin-bottom:        10px;
}
.tileImgBack .tileDate {
  display:              none;
}
.tileText {
  color:                $col-black;
  &:hover {
    color:              $col-black;
  }
}
.tile-poi {
  padding:              15px;
  background-color:     $col-lightgrey;

  .poipic {
    padding:            0;
  }
  .poiblurb {
    color:              $col-black;
    h3 {
      font-size:        15px;
      font-weight:      $font-bold;
      margin:           0;
    }
    p {
      font-size:        12px;
    }
  }
}
.detailImgWrap, .detailImgWrapFull, .detailImgWrapLeft, .detailImgWrapSide, .poipic {
  overflow:             hidden;
  -webkit-background-size:cover;
  background-size:      cover;
  background-position:  center;
}
.detailImgWrap {
  height:               250px;
  margin-bottom:        5px;
}
.detailImgWrapFull {
  height:               350px;
  margin-bottom:        5px;
}
.detailImgWrapLeft {
  min-height:           250px;
}
.detailImgWrapSide {
  height:               150px;
  margin-bottom:        5px;
}
.poipic {
  min-height:           125px;
}

#myCarousel {
  padding-bottom: 15px;

  .carousel-indicators {
    bottom:             15px;
  }

  .carousel-inner {
    height:                 400px;

    .item {
      height:               400px;
      background-size:      cover;
      background-position:  center;

      img {
        //width:              100%;
        height:             auto;
        margin:             10px 0;
      }
      .carousel-caption {
        background:         $img-back-black-50 repeat top left fixed;
        width:              100%;
        bottom:             0;
        left:               0;
        //padding-bottom:     30px;
        padding:            0 10px 30px 10px;
      }
    }
  }
}

.eventsNearYou {

  .locCurrent {
    color:              $col-darkgrey;
    font-size:          12px;
    border-bottom:      1px solid $col-sprlghtgry;

    .locName {
      color:            $col-darkgrey;
      font-weight:      $font-bold;
    }
  }
  .eachEvent {
    border-bottom:      1px solid $col-sprlghtgry;
    padding-bottom:     5px;
    .eventName {
      font-weight:      $font-bold;
    }
    .eventDetails {
      font-size:        12px;
      text-align:       right;

      .eventType {
        font-weight:    $font-bold;
      }
    }
  }
}

.tile-poll {
  background-color:     $col-textblue;
  color:                $col-speblue;

  h1 {
    color:              $col-white;
    font-size:          25px;
    border-bottom:      1px dotted grey;
    padding:            0 0 10px 0;
    margin:             0 0 10px 0;
  }

  .btn {
    width:              100%;
    font-weight:        $font-bold;
    margin-top:         20px;
  }

  a {
    color:              $col-speblue;
    &:hover {
      color:            $col-white;
    }
  }
  .votes {
    color:              $col-white;
    font-weight:        $font-bold;
  }
}

.becomeMember {
  background-color:     $col-textblue;
  color:                $col-speblue;
  padding:              15px;
  margin:               15px 0;
  font-size:            20px;
  a {
    color:              $col-white;
    font-weight:        $font-bold;
    &:hover {
      color:            $col-footgrey;
    }
  }
}
.briefListItem {
  margin:               0 0 15px 0;
  padding-top:          15px;
  background:           $img-back-box no-repeat bottom right;
  min-height:           100px;

  img {
    display: none;
  }

  a {
    color:              $col-black;
    &:hover {
      color:            $col-hoverblue;
      text-decoration:  none;
    }
  }

  h4 {
    font-size:          18px;
    margin:             0 0 5px 0;
  }

  .briefPub {
    font-size:          10px;
    font-weight:        $font-light;
    color:              $col-boxshadow;
    width:              100%;
    text-align:         right;
  }
  .badge {
    border-radius: 10px !important;
    font-size:10px;
  }
  &:hover {
    background-color:   $col-lightgrey;
    cursor:             pointer;
  }
}
.brief-date {
  color:            $col-red;
  display:          block;
  text-transform:   uppercase;
  font-size:        10px !important;
  font-weight:      700;
  letter-spacing:   1px;
}
.briefofinterest {

  p {
    margin:             6px 0 0 0;
  }
}
.fullThumb {
  margin-bottom:  15px;
}
.bloglist {
  .sideListTitle {
    //font-size:    20px;
    font-weight:  $font-bold;
  }
}