{% extends "iptcnet/iptcnet_base.html" %}
{% load cms_tags sekizai_tags menu_tags staticfiles %}

{% block title %}IPTC - {% page_attribute "page_title" %}{% endblock title %}

{% block cms_content %}

    <div class="padTopBottom container-fluid">{% placeholder "Content Area One" %}</div>

    <div class="padTopBottom container-fluid">{% placeholder "Content Area Two" %}</div>

    <div class="padTopBottom container-fluid">{% placeholder "Content Area Three" %}</div>

{% endblock cms_content %}
